//@import 'core';

/*#################################################################################################



                                    BUTTONS



#################################################################################################*/

/*=================================================================

                  CONFIGURATION -> REGULAR BUTTONS

=================================================================*/
$include-button-classes: true;

$default-button-config: null;
$default-button-active-state-config: null;
$default-button-disabled-state-config: null;


/*=================================================================

                  CONFIGURATION -> SPLIT BUTTONS

=================================================================*/
$default-primary-button-config: null;

$default-caret-button-config: null;

$default-caret-button-caret-directions: down;
$default-caret-button-caret-color: color(orange);
$default-caret-button-caret-size: null;

/*=================================================================

                        CORE -> NORMALIZE

=================================================================*/
//Default Classes
%button-normalize{
    //
    // 1. Correct font family not being inherited in all browsers.
    // 2. Correct font size not being inherited in all browsers.
    // 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
    //

    font-family: inherit; // 1
    font-size: 100%; // 2
    margin: 0; // 3

    //
    // Address Firefox 4+ setting `line-height` on `input` using `!important` in
    // the UA stylesheet.
    //
    line-height: normal;

    //
    // Address inconsistent `text-transform` inheritance for `button` and `select`.
    // All other form control elements do not inherit `text-transform` values.
    // Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
    //
    text-transform: none;

    //
    // 1. Correct inability to style clickable `input` types in iOS.
    // 2. Improve usability and consistency of cursor style between image-type
    //    `input` and others.
    //
    -webkit-appearance: button; // 2
    cursor: pointer; // 3

    //
    // Re-set default cursor for disabled elements.
    //
    button[disabled] {
        cursor: default;
    }

    //
    // Remove inner padding and border in Firefox 4+.
    //
    button::-moz-focus-inner{
        border: 0;
        padding: 0;
    }

    //
    // Remove border.
    //
    border: none;
}


/*=================================================================

                        CORE -> CSS CLASSES

=================================================================*/
@if $include-button-classes{
    button{ @extend %button-normalize;}
    .button{
       
        @include style($default-button-config);

        &[active]{@include style($default-button-active-state-config);}
        &[disabled]{@include style($default-button-disabled-state-config);}

    }

    .split-button{
        @include inline-block();
        @include box-sizing(border-box);
        > .button{ @include box-sizing(border-box);}

        @if $default-caret-button-caret-directions != null{
            @each $direction in $default-caret-button-caret-directions{
                .caret-#{$direction}{
                    @if $default-caret-button-caret-color != null{
                        @include style-caret($direction: $direction, $color:$default-caret-button-caret-color);
                    }

                    @if $default-caret-button-caret-size != null{
                        @include style-caret($direction: $direction, $size:$default-caret-button-caret-size);
                    }

                }
            }
        }
    }
}



/*=================================================================

               CUSTOM BUTTON STYLES -> BUTTON THEMES

=================================================================*/
button[theme="cart"]{
    
}
button[theme="large-text"]{
    
}