/*==============================================================================

                             CUSTOM UPDATE NOTICE

===============================================================================*/
/*

    1. Added centered & uncentered classes for all 4 grids


*/
/*==============================================================================

                                CONFIGURATION

===============================================================================*/
$include-grid-classes: true;

$include-xs-grid-classes: true;
$include-sm-grid-classes:true;
$include-md-grid-classes: true;
$include-lg-grid-classes: false;

$include-column-centering-classes: false;

$use-border-box-model-form-columns: true;


// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         0 !default;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             100% !default;
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            940px !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      940px !default;
$container-lg:                 $container-large-desktop !default;


/*==============================================================================

                                 GRID CORE

===============================================================================*/
// Centered container element
@mixin container-fixed() {
    margin-right: auto;
    margin-left: auto;
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    @include clearfix();

    /* FIX BY FARAAZ*/
    float:none;
    display: block;
    /* END OF FIX BY FARAAZ*/
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width, $include-gutter: true) {
    @if $include-gutter{
        margin-left:  ($gutter / -2);
        margin-right: ($gutter / -2);
    }

    @include clearfix();


    /****** FIX BY FARAAZ ******/
    position: relative;
    display: block;
    width: 100%;
    @include box-sizing(border-box);
    //font-size: 0;
    /****** END OF FIX BY FARAAZ ******/
}

@mixin make-column($width,$min-width: false, $max-width: false){
    position: relative;
    float: left;
    min-height: 1px;

    width: $width;

    @if $min-width{min-width: $min-width}
    @if $max-width{max-width: $max-width}
}

// Generate the extra small columns
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    float: left;
    width: percentage(($columns / $grid-columns));



    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
}

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);

    // Calculate width based on number of columns available
    @media (min-width: $screen-sm-min) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

// Generate the small column offsets
@mixin make-sm-column-offset($columns) {
    @media (min-width: $screen-sm-min) {
        margin-left: percentage(($columns / $grid-columns));
    }
}
@mixin make-sm-column-push($columns) {
    @media (min-width: $screen-sm-min) {
        left: percentage(($columns / $grid-columns));
    }
}
@mixin make-sm-column-pull($columns) {
    @media (min-width: $screen-sm-min) {
        right: percentage(($columns / $grid-columns));
    }
}

// Generate the medium columns
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);

    // Calculate width based on number of columns available
    @media (min-width: $screen-md-min) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

// Generate the medium column offsets
@mixin make-md-column-offset($columns) {
    @media (min-width: $screen-md-min) {
        margin-left: percentage(($columns / $grid-columns));
    }
}
@mixin make-md-column-push($columns) {
    @media (min-width: $screen-md) {
        left: percentage(($columns / $grid-columns));
    }
}
@mixin make-md-column-pull($columns) {
    @media (min-width: $screen-md-min) {
        right: percentage(($columns / $grid-columns));
    }
}

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);

    // Calculate width based on number of columns available
    @media (min-width: $screen-lg-min) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

// Generate the large column offsets
@mixin make-lg-column-offset($columns) {
    @media (min-width: $screen-lg-min) {
        margin-left: percentage(($columns / $grid-columns));
    }
}
@mixin make-lg-column-push($columns) {
    @media (min-width: $screen-lg-min) {
        left: percentage(($columns / $grid-columns));
    }
}
@mixin make-lg-column-pull($columns) {
    @media (min-width: $screen-lg-min) {
        right: percentage(($columns / $grid-columns));
    }
}


// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

// [converter] Grid converted to use SASS cycles (LESS uses recursive nested mixin defs not supported by SASS)
@mixin make-grid-columns() {
    $list: '';
    $i: 1;
    $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
    @for $i from 2 through $grid-columns {
        $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, #{$list}";
    }
    #{$list} {
        position: relative;
        // Prevent columns from collapsing when empty
        min-height: 1px;
        // Inner gutter via padding
        padding-left:  ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);

        @if $use-border-box-model-form-columns{
            @include box-sizing(border-box);
        }
        @else{
            @include box-sizing(content-box);
        }

        /****** FIX ADDED BY FARAAZ ******/
        font-size: 0;
        /****** END OF FIX ADDED BY FARAAZ ******/


    }
}


// [converter] Grid converted to use SASS cycles (LESS uses recursive nested mixin defs not supported by SASS)
@mixin make-grid-columns-float($class) {
    $list: '';
    $i: 1;
    $list: ".col-#{$class}-#{$i}";
    @for $i from 2 through $grid-columns {
        $list: ".col-#{$class}-#{$i}, #{$list}";
    }
    #{$list} {
        float: left;
    }
}


@mixin calc-grid($index, $class, $type) {
    @if ($type == width) and ($index > 0) {
        .col-#{$class}-#{$index} {
            width: percentage(($index / $grid-columns));

            /*ADDITION BY FARAAZ*/
            @if $include-column-centering-classes{
                &.#{$class}-centered{@include container-fixed();}
                &.#{$class}-uncentered{float: left;}
            }

            /*END OF ADDITION BY FARAAZ*/
        }
    }
    @if ($type == push) {
        .col-#{$class}-push-#{$index} {
            left: percentage(($index / $grid-columns));
        }
    }
    @if ($type == pull) {
        .col-#{$class}-pull-#{$index} {
            right: percentage(($index / $grid-columns));
        }
    }
    @if ($type == offset) {
        .col-#{$class}-offset-#{$index} {
            margin-left: percentage(($index / $grid-columns));
        }
    }
}

// [converter] This is defined recursively in LESS, but SASS supports real loops
@mixin make-grid($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid($i, $class, $type);
    }
}


/********** MIXINS ADDED BY FARAAZ **********/


/********** END OF MIXINS ADDED BY FARAAZ **********/


/*==============================================================================

                                CREATE GRID

===============================================================================*/
@if $include-grid-classes{
    //
    // Grid system
    // --------------------------------------------------

    // Set the container width, and override it for fixed navbars in media queries
    .container {
        @include container-fixed();
    }

    // mobile first defaults
    .row {
        @include make-row();
    }

    // Common styles for small and large grid columns
    @include make-grid-columns();


    /******** CLASSES ADDED BY FARAAZ *********/

    /******* END OF CLASSES ADDED BY FARAAZ ********/

}

@if $include-xs-grid-classes{
    // Extra small grid
    //
    // Grid classes for extra small devices like smartphones. No offset, push, or
    // pull classes are present here due to the size of the target.
    //
    // Note that `.col-xs-12` doesn't get floated on purpose--there's no need since
    // it's full-width.

    @include make-grid-columns-float(xs);
    @include make-grid($grid-columns, xs, width);
    @include make-grid($grid-columns, xs, pull);
    @include make-grid($grid-columns, xs, push);
    @include make-grid($grid-columns, xs, offset);
}

@if $include-sm-grid-classes{

    // Small grid
    //
    // Columns, offsets, pushes, and pulls for the small device range, from phones
    // to tablets.
    //
    // Note that `.col-sm-12` doesn't get floated on purpose--there's no need since
    // it's full-width.

    @media (min-width: $screen-sm-min) {
        .container {
            width: $container-sm;
        }

        @include make-grid-columns-float(sm);
        @include make-grid($grid-columns, sm, width);
        @include make-grid($grid-columns, sm, pull);
        @include make-grid($grid-columns, sm, push);
        @include make-grid($grid-columns, sm, offset);
    }

}

@if $include-md-grid-classes{
    // Medium grid
    //
    // Columns, offsets, pushes, and pulls for the desktop device range.
    //
    // Note that `.col-md-12` doesn't get floated on purpose--there's no need since
    // it's full-width.

    @media (min-width: $screen-md-min) {
        .container {
            width: $container-md;
        }

        .col-left, .col-right{
            float: left;
        }

        @include make-grid-columns-float(md);
        @include make-grid($grid-columns, md, width);
        @include make-grid($grid-columns, md, pull);
        @include make-grid($grid-columns, md, push);
        @include make-grid($grid-columns, md, offset);
    }
}


@if $include-lg-grid-classes{

    // Large grid
    //
    // Columns, offsets, pushes, and pulls for the large desktop device range.
    //
    // Note that `.col-lg-12` doesn't get floated on purpose--there's no need since
    // it's full-width.

    @media (min-width: $screen-lg-min) {
        .container {
            width: $container-lg;
        }

        @include make-grid-columns-float(lg);
        @include make-grid($grid-columns, lg, width);
        @include make-grid($grid-columns, lg, pull);
        @include make-grid($grid-columns, lg, push);
        @include make-grid($grid-columns, lg, offset);
    }

}







