

/*===============================================

                CONFIGURATION

===============================================*/

$include-fieldset-classes: true;

$default-form-control-horizontal-spacing: 10px;
$default-form-control-vertical-spacing: 5px;

$default-field-spacing: 10px;
//$default-stacked-field-spacing: 10px;

$default-field-group-spacing: 10px;
$default-fieldset-spacing: $default-field-group-spacing;



/*===============================================

                    CORE

===============================================*/

@if $include-fieldset-classes{
    .fieldset{

        %field-base-styles{
            @include box-sizing(border-box);
            //@include make-row();

            margin: 0;
            padding: 0;
        }



        /******* FIELDSET & FIELDGROUP *******/
        & + .fieldset{margin-top: $default-fieldset-spacing}

        .field-group{
            @extend %field-base-styles;
            margin-top: $default-field-group-spacing;
            &:not(:last-of-type){margin-bottom: $default-field-group-spacing;}
        }


        /******* FORM CONTROL *******/
        .form-control{
            .icon{
                display: none;
                width: 15px;
                height: 15px;
            }

            &.validation-error .icon{
                @include class(sprite-form-error);
                @include inline-block();
            }

            &.validation-passed .icon{
                @include class(sprite-form-success);
                @include inline-block();
            }

            .validation-advice{
                @include make-column(100%);
                font-size: 11px;
                padding: 5px 0;
            }




            &:not(.radio-input):not(.checkbox-input) .form-control-label{

                padding-right: 0;
                padding-bottom: $default-form-control-vertical-spacing;
                text-align: left;
                @include breakpoint(sm){
                    text-align: right;
                    padding-right: $default-form-control-horizontal-spacing;
                    padding-bottom: 0;
                }

            }



        }


        /******* RADIO & CHECKBOX *******/
        .radio-input .form-control-label,.checkbox-input .form-control-label{

            padding-right: $default-form-control-horizontal-spacing;
            text-align: right;

        }


        /******* STACK & PACK *******/
        
        
    }
}


