/* Buttons */
.buttons-set { clear:both; margin:15px 0; } /* general for button containing block */
.buttons-set p.back-link { float:left; text-align:right; padding:7px 24px 7px 0; margin-right: 18px; font-weight:600;text-transform:uppercase;font-size:12px; border-right:1px solid #d8d8d8; }
a.back-link { color:#999; }
.buttons-set p.back-link a { color:#50a4cf;text-decoration:underline }
.buttons-set a.button,
.buttons-set button.button { float:left;margin-left:0 }
.buttons-set2 { clear:both; margin:5px 0 0; padding:5px; background-color:#ededed; text-align:right; }

.form-buttons { margin:0; width:620px; } /* for button containing block under the general form */
.form-buttons .button { float:right; }
.form-buttons .button { margin-left:15px; }
.form-buttons p.back-link { float:left; /*width:225px;*/ width:auto; padding:7px 24px 7px 0;margin-right: 18px; text-align:right; font-weight:600;text-transform:uppercase;font-size:12px; border-right:1px solid #d8d8d8; }
.form-buttons p.back-link  small,.buttons-set p.back-link small{display:none}
.btn-only { /* padding-left:240px; */ }

