/* Checkout ============================================================================== */
/* One Page */
.checkout-onepage-index .col-main { /*padding:20px 0 0;*/ }

.opc-wrapper { }
.opc-wrapper .page-title { margin:0; position:relative; z-index:1;padding-bottom: 8px;padding-top: 10px; }
.opc-wrapper .page-title .callout { position:absolute; top:7px; right:20px; z-index:1; }

/* Block: Checkout Progress */
.opc-progress-container { float:right; /*position: absolute;right: 0;top: 177px;*/width: 248px;z-index: 1000;padding-left:38px; border-left:1px solid #d8d8d8;min-height: 279px;padding-top: 17px;margin-top: 96px;}
.opc-progress-container .opc-block-progress { background:#fff; }
.opc-progress-container .opc-block-progress .block-title { padding:17px 11px 10px 17px; background:none; border:0; border-bottom:1px solid #cfcfcf; }
.opc-progress-container .opc-block-progress .block-title strong { font:18px/1.1 Arial, Helvetica, sans-serif; padding:0; color:#111; }
.opc-progress-container .opc-block-progress .block-content { /*padding:17px 11px 17px 17px;*/ padding:0; }
.opc-progress-container .opc-block-progress dt { /*font-weight:bold;*/ margin:2px 0 8px; color:#656565;font-weight:700;font-size:14px;text-transform:uppercase; }
.opc-progress-container .opc-block-progress dt.complete { font-weight:bold; margin:2px 0 4px; }
.opc-progress-container .opc-block-progress dt.complete a { font-size: 10px;font-weight: 700; text-transform:Uppercase;  float: right;text-decoration: underline; }
.opc-progress-container .opc-block-progress dd.complete { margin: 8px 0 25px 19px; /*padding:5px;*/ }
.opc-progress-container .block-progress .cards-list dd { padding:0; }
.opc-progress-container .block-progress .cards-list .info-table th { font-weight:normal; }

.opc { width:945px; float:left;position: relative;padding-bottom:10px  }
.opc li.section { /*position:relative;*/ float:left; }
.opc .step-title {/* margin:0 0 1px;*/ border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;  position: absolute; }
.opc .step-title .number { display:none; }
.opc .step-title h2 { border: medium none;margin: 0;width: auto;float:left;height: 29px;color:#cdcdcd; font-size:16px; line-height:22px;padding: 17px 18px 10px;font-weight:600; text-transform:uppercase; white-space:nowrap; }
.opc .allow .step-title {}
.opc .allow .step-title h2 { background-color:#ffffff; color:#cdcdcd; cursor:pointer; }
.opc .active {}
.opc .active .step-title { margin:0 0 0; padding:0 0 0 0; }
.opc .active .step-title h2 {color:#50A4CF;background:none #fff; text-transform:uppercase; font-weight:600; cursor:default; font-size:16px; padding: 17px 18px 10px; line-height:24px; height:29px; }
.opc .step { /*padding:20px 0;*/ min-height:300px; font-size:12px; background:#ffffff; border-top:0;float: left;margin-top: 85px;width: 648px; }
.opc .step .tool-tip { right:10px; }
.opc .order-review {}
.opc .order-review .authentication { margin:0 auto; width:570px; }
.opc .order-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

/* Steps */
.opc .form-alt .input-box { width:440px; }
.opc .form-alt .input-box select { width:580px; }

#checkout-step-login { height:auto !important; min-height:0 !important; }
#checkout-step-login .col2-set { padding: 8px 20px 20px; height:auto !important; min-height:350px !important; }
#checkout-step-login .login-only { background-image:none; }
#checkout-step-login h4 { /*font-size:16px; color:#000; font-weight:normal;*/ color:#656565;font-size:24px;font-weight:700px;text-transform:uppercase; }
#checkout-step-login .col2-set .col-1 { width: 254px;padding-top: 13px;padding-right:5px}
#checkout-step-login .col2-set .col-2 {  border-left: 1px solid #D8D8D8;padding-left: 40px;padding-top: 13px;width: 308px; }
#checkout-step-login .col2-set .col-2 .radio { margin-right:5px; }
#checkout-step-login .col2-set .col-2 li { padding-left:10px; background:url(../images/bkg_bulletsm.gif) no-repeat 0 0.5em; }
#checkout-step-login .col2-set .col-2 .form-list li { background:none; padding-left:0; }
#checkout-step-login .form-list label,
#checkout-step-login .form-list .label { width:auto; }
#checkout-step-login .btn-only { padding:0 0 0 105px; text-align:left; width:214px; }
#checkout-step-login .btn-only .button { float:right; }
#checkout-step-login p { margin:0 0 15px; }
#checkout-step-login .form-list p { padding-left:105px; margin:0; }
#checkout-step-login .form-list .input-text { width:210px; }

#checkout-step-login .form-list li.note { float:left; padding-left:0; margin:0 0 9px; width:auto; clear:left; text-transform:uppercase; font-weight:600px; font-size:9px }
#checkout-step-login .form-list li.control { clear:left; }
#checkout-step-login .form-list li.control .input-box { margin-left:0; }
#checkout-step-login .form-list li.buttons-set { float:left; /*clear:none;*/ padding-right:30px; padding-top:2px; }
.checkout-onepage-index .data-table tbody td dl.item-options dt,.multiple-checkout .data-table tbody td dl.item-options dt{clear: left;    float: left;    font-size: 12px;    font-weight: 600;    line-height: 14px;    text-transform: uppercase; padding: 3px 3px 0; color:#656565;}
.checkout-onepage-index .data-table tbody td dl.item-options dd,.multiple-checkout .data-table tbody td dl.item-options dd{font: italic 12px/20px Georgia,"Times New Roman",Times,serif; color:#656565}


.opc .buttons-set
.opc .form-buttons { width:auto; text-align:right; }
.opc .buttons-set p.back-link { text-align:left; margin-top:34px;}
.opc .form-buttons { width:auto; text-align:right; }
.opc .buttons-set .button,
.opc .form-buttons .button { float:left; margin:34px 0 0 0; }
.opc p.required { text-align:left; width:auto; padding-left:0; }

.checkout-onepage-payment-additional-customerbalance { margin-bottom:5px; }
.checkout-onepage-payment-additional-customerbalance .checkbox { margin-left:0; }

/*
#checkout-step-shipping_method .buttons-set,
#opc-payment .buttons-set { width:521px; margin-top:10px; margin-bottom:0; }
#checkout-step-shipping_method .buttons-set .back-link,
#opc-payment .buttons-set .back-link { width:245px; padding-right:15px; float:left; text-align:right; }
#checkout-step-shipping_method .buttons-set .back-link a,
#opc-payment .buttons-set .back-link a { display:inline; float:none; }
#checkout-step-shipping_method p.required,
#opc-payment p.required { padding:0 0 0 260px; }
#opc-payment p.note { padding:10px 0; font-size:11px; }
*/

#checkout-step-review { padding:0; }
#checkout-step-review .data-table { border:0; font-size:12px; }
#checkout-step-review .data-table .item-options { font-size:11px; }
#checkout-step-review .data-table .product-name { color: #656565;font-size: 14px;font-weight: 700;text-transform: uppercase; }
#checkout-step-review .data-table tfoot tr.last strong { font-size:18px; font-weight:600; }

#checkout-step-review .buttons-set {float:right;width:100% }
#checkout-step-review .buttons-set .button { margin:0; }

.opc .checkout-agreements { margin:20px; }

#billing-new-address-form .control .input-box {margin-left:0px !important;}
.checkout-onepage-index .page-title h1{font-weight:700;font-size:24px}
.opc .col2-set p{color: #656565;font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;font-style: italic;}
.opc li#remember-me-box.control label {color: #656565;font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;font-style: italic;font-weight:normal;}
#checkout-step-shipping .form-list .control {margin-bottom: 0;}

#checkout-step-review .data-table  thead th {    border-bottom: 1px solid #D8D8D8;color: #656565;font-size: 12px;font-weight: 600;vertical-align: middle;}
#checkout-step-review .data-table .price {color: #636363;font: 14px/14px Georgia,"Times New Roman",Times,serif;font-weight:normal}
#checkout-step-review .data-table tbody td {border-bottom: 1px solid #D8D8D8;padding: 12px;}
#checkout-step-review .data-table{margin-right:4px}
.opc .buttons-set .btn-checkout{float:right}
#checkout-step-review .data-table tfoot{background:none}
#checkout-step-review .data-table tfoot td,#checkout-step-review  .data-table tfoot th{padding: 2px 12px; font-weight:600;font-size:12px;text-transform:uppercase;color:#656565}
#checkout-step-review .data-table tfoot tr.first td {padding-top:9px}
#checkout-step-review .data-table tfoot tr.last td {border-bottom: 1px solid #D8D8D8;padding-bottom:13px;}
#checkout-step-review .data-table tfoot td .price {font-style:italic;}
.checkout-onepage-index input,.checkout-onepage-index select,.checkout-onepage-index textarea,.checkout-multishipping-shipping input,.checkout-multishipping-shipping select,.checkout-multishipping-shipping textarea {color: #656565;font: 12px/12px Georgia,"Times New Roman",Times,serif;font-weight:normal;font-style:italic}
.checkout-onepage-index .form-list .control label {color: #656565;font-style:italic;}
#checkout-step-login .buttons-set{float:left}
#checkout-step-login .buttons-set .button{float:left;margin:0;}
.checkout-onepage-index input.checkbox {float:left;}
.checkout-onepage-index .buttons-set {float:right;width: auto;}
#checkout-step-shipping .form-list .control label {margin-left:9px;}
#shipping-method-buttons-container .button {margin: 34px 0 0;}
.checkout-onepage-index .sp-methods dd li label { font: italic 14px/17px Georgia,"Times New Roman",Times,serif; color:#656565}
.checkout-onepage-index .sp-methods .price {color: #656565; font: 600 14px/16px Raleway,Arial,Helvetica,sans-serif;}
.add-gift-message label{margin-left:10px; color: #656565;font-style: italic;  font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;}
#checkout-step-payment .sp-methods dd li {width:auto;}
#checkout-step-payment .sp-methods dd li label {color: #656565;float: left;font-family:Raleway,Arial,Helvetica,sans-serif;font-style:normal;font-size: 12px;font-weight: 600;line-height: 12px;padding: 5px 15px 6px 0;text-align: left;width:auto;margin-left:0}
#checkout-step-payment .sp-methods .form-list .input-text {width:299px} 
.sp-methods dt a{color: #999999;text-decoration:none}
#checkout-step-shipping .form-list li.wide label{color: #656565;display: inline;font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;font-style: italic;font-weight: normal;width: auto;}
#billing-buttons-container .button{margin:34px 72px 5px  0;}
#shipping-buttons-container .button{margin:34px 72px 5px  0;}
#payment-buttons-container .button{margin:34px 72px 0  0;} 
.opc-block-progress .complete th strong,.opc-block-progress .complete p strong{font-family:Georgia, "Times New Roman", Times, serif;font-style:italic;font-weight:bold;font-size:12px;color:#656565;}
.opc-block-progress .complete td{font-family:Georgia, "Times New Roman", Times, serif;font-style:italic;font-weight:normal;font-size:12px;color:#656565;}
.checkout-onepage-success .col-main,.checkout-multishipping-success .col-main{text-align:center}
.checkout-onepage-success .buttons-set,.checkout-multishipping-success .buttons-set{text-align:center;margin-top: 26px;float: none !important;}
.checkout-onepage-success .buttons-set button.button,.checkout-multishipping-success .buttons-set button.button{float:none}
.checkout-onepage-success .page-title,.checkout-multishipping-success .page-title{margin-top: 40px;padding-bottom: 15px;}
.checkout-onepage-success .page-title h1,.checkout-multishipping-success .page-title h1{color:#656565;  font-weight: 700;}
.checkout-onepage-index .form-list input.input-text,.checkout-onepage-index  .form-list textarea {width: 576px;}
.checkout-onepage-index .form-list .validation-advice { margin-right:0px;width:auto;}



/* Multiple Addresses Checkout */
.checkout-progress,
.checkout-progress li.first span,
.checkout-progress li.last span { background-image:url(../images/bkg_crumbs.gif); background-repeat:no-repeat; }
.checkout-progress { padding: 17px 0 17px 0;   border-bottom: 1px solid #E6E6E6; border-top: 1px solid #E6E6E6; text-align:center; font-size:11px; font-weight:bold; text-transform:uppercase; width:940px; position:relative; z-index:2; }
.checkout-progress li { float:left; width:20%; text-align:center; color:#888; line-height:20px; }
.checkout-progress li span { display:block; text-align:center; font-size: 16px; font-weight: 600;}
.checkout-progress li.first span { background-position:0 0; }
.checkout-progress li.last span { background-position:100% 0; border:0; }
.checkout-progress li.active span { color:#50A4CF; background-color:#ffffff; font-size: 16px; font-weight: 600; }

.multiple-checkout { position:relative; z-index:1; }
.multiple-checkout .data-table thead th { vertical-align:bottom;color: #656565;font-size: 12px;font-weight: 600; }
.multiple-checkout .col3-set .actions { border:1px solid #e4e4e4; padding:3px 9px 4px; float:left; }
.multiple-checkout .col3-set address { padding:10px; clear:both; }
.multiple-checkout .col3-set,
.multiple-checkout .col2-set { margin: 0 0 15px; }
.checkout-multishipping-address-editaddress .buttons-set,.checkout-multishipping-address-editshipping .buttons-set,.checkout-multishipping-address-editbilling .buttons-set,.checkout-multishipping-address-newshipping .buttons-set,.multiple-checkout .buttons-set{ padding:15px 0; clear:both; width:auto; float:right}
/*.multiple-checkout .buttons-set .button { float:right; }*/
.multiple-checkout .tool-tip { top:50%; margin-top:-120px; right:10px; }
.multiple-checkout .grand-total { font-weight:normal; font-size:18px; color:#cd3800; text-align:right; display:block; margin:0 0 15px; }
.multiple-checkout .grand-total .price-label { color:#656565;font-size:24px;font-weight:600;font-family:Raleway, Arial, Helvetica, sans-serif;text-transform:uppercase }
.multiple-checkout .grand-total .price { color:#656565;font-size:24px;font-weight:normal;font-family:Georgia, "Times New Roman", Times, serif; }
.multiple-checkout .sp-methods { font-size:12px; }
.multiple-checkout .checkout-multishipping-payment-customerbalance { font-size:12px; margin-bottom:7px; }
.multiple-checkout .fieldset label { font-size:11px; }
.multiple-checkout .gift-item .fieldset { font-size:11px; width:380px; }


/* Review Details */
#checkout-step-review .data-table .btn-remove,
.checkout-multishipping-overview .data-table .btn-remove,
#details-table .btn-remove { display:-moz-inline-stack; display:inline-block; vertical-align:middle; }

.page-title-multiplecheckout{ padding-top: 10px; text-align:left}
.page-title-multiplecheckout h2{ color: #636363;font-family: raleway;font-size: 24px;font-weight: 600;height: 35px;text-transform: uppercase;}
.checkout-multishipping-addresses .page-title{padding:48px 0 22px 0}

.multiple-checkout .data-table th {font-weight:600;font-size:12px;color:#656565;}
.multiple-checkout .table-caption {border-bottom:none}
.multiple-checkout th{border-bottom: 1px solid #D8D8D8;}
.multiple-checkout .data-table td {padding: 20px 12px;border-bottom: 1px solid #D8D8D8;}
.multiple-checkout .product-name a {font-weight:700;font-size:14px;color:#656565;text-transform:uppercase}
.multiple-checkout input.qty {font-size:14px;font-weight:500;}
.multiple-checkout select{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;font-style:italic}

.multiple-checkout .col2-set .wide {width: 53%;}
.multiple-checkout .col2-set .narrow {width: 41%;}
.multiple-checkout .info-box {background:none;border:none;}
.checkout-multishipping-shipping .info-box .multicheckout-shippinghead{ color: #656565;font-family: raleway;font-size: 24px;font-weight: 600;text-transform: uppercase;}
.checkout-multishipping-shipping .info-box .multicheckout-shippingspan{font-size: 18px;}
.multiple-checkout .info-box .box-title {margin: 17px 0 0; font-family:raleway;font-size:14px;font-weight:700; color:#656565}

.checkout-multishipping-shipping .gift-message-form {width:498px;border:1px solid #d8d8d8}
.checkout-multishipping-shipping .gift-options-for-order {width: 476px;}
.checkout-multishipping-shipping .gift-message-form .gift-item .fieldset {width:347px;}
.checkout-multishipping-shipping .gift-options-for-order .fieldset .input-text,.checkout-multishipping-shipping .gift-options-for-order .fieldset textarea {width: 453px !important;}
.checkout-multishipping-shipping .gift-message-form .inner-box h5,.checkout-multishipping-shipping .gift-message-form .inner-box h4{width:auto;}
.checkout-multishipping-shipping .gift-message-form .gift-item .product-img-box {padding-right:0;}
.checkout-multishipping-shipping .gift-message-form .gift-item .fieldset .input-text,.checkout-multishipping-shipping .gift-item .gift-message-form .fieldset textarea {width: 330px !important;}
.multiple-checkout .info-box .box-content {color:#656565;padding: 9px 20px 17px;}
.checkout-multishipping-shipping .col2-set { border-bottom: 1px solid #E6E6E6;margin: 48px 0 5px;padding-bottom: 19px;}
.checkout-multishipping-shipping .add-gift-message {padding: 0}
.checkout-multishipping-billing .page-title {padding: 48px 0 0;}
.multiple-checkout #payment-methods dd li label{color: #656565;float: left;font-family: Raleway,Arial,Helvetica,sans-serif;font-size: 12px;font-style: normal;font-weight: 600;line-height: 12px;padding: 5px 15px 6px 0;text-align: left;width: auto; margin-left: 0;}
.multiple-checkout #payment-methods dd li {width: auto;}
.multiple-checkout .sub-title {border-bottom:none}
.checkout-multishipping-overview .multishipping-reviewshippingbox,.checkout-multishipping-overview .multishipping-reviewpaymentbox{width:220px}
.checkout-multishipping-overview .multishipping-reviewshippingbox{float:left;}
.multishipping-reviewshippingbox .box-content,.multishipping-reviewpaymentbox .box-content {padding: 9px 20px 17px 0 !important;}
.checkout-multishipping-overview .multishipping-reviewpaymentbox{float: left;margin-left: 97px;}
.checkout-multishipping-overview .col2-set .narrow {width: 26%; border-left: 1px solid #d8d8d8; padding-left: 7px; padding-right:65px}
.checkout-multishipping-overview .col2-set .wide  {width: 65%;}
.multiple-checkout .info-box .box-title a,.multiple-checkout .table-caption a {text-decoration:underline;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot {background: none repeat scroll 0 0 transparent;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot td {border:none; padding:0;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot tr.first td {padding-top: 9px;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot td,.checkout-multishipping-overview .multiple-checkout .data-table tfoot th {color: #656565;font-size: 12px;font-weight: 600;padding: 2px 12px;text-transform: uppercase;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot tr.last td strong{font-size:16px;font-weight:600;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot tr.last td strong span.price{color:#656565;font-weight:normal;font-size:16px;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot td strong span.price{color:#870707;font-weight:normal;font-size:14px;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot td .price {font-style: italic;}
.checkout-multishipping-overview .multiple-checkout .data-table .price {color: #636363;font: 14px/14px Georgia,"Times New Roman",Times,serif;}
.checkout-multishipping-overview .multiple-checkout .data-table tfoot tr.last td {padding-top:8px;}
.checkout-multishipping-overview .multiple-checkout .data-table .product-name a {color: #656565;font-size: 14px;font-weight: 700;text-transform: uppercase;}
.multiple-checkout .section-title {color: #656565;font-size: 14px;font-weight: 700;text-transform:uppercase}
.checkout-multishipping-overview .multiple-checkout .data-table {padding-top: 31px;}
.checkout-multishipping-overview  .page-title {padding: 48px 0 13px;}
.multiple-overviewtable,.multiple-otherprdctsoverviewtable {border-bottom:1px solid #d8d8d8;padding-bottom: 33px;}
.multiple-overviewtopset{border-bottom:1px solid #d8d8d8;padding-bottom:4px;width:58% !important;margin-bottom: 54px;}
.checkout-multishipping-address-selectbilling .buttons-set p.back-link {border-right: medium none;padding: 7px 0 7px;margin-right:0;}
.checkout-multishipping-address-selectbilling .page-title,.checkout-multishipping-address-editaddress .page-title,.checkout-multishipping-address-editbilling .page-title,.checkout-multishipping-address-editshipping .page-title, .checkout-multishipping-address-newshipping .page-title{padding: 48px 0 0;}
.checkout-multishipping-shipping .multiple-checkout .info-box address{margin-bottom:33px;}
.checkout-multishipping-shipping .multiple-checkout .info-box .box-title {margin: 42px 0 0;}
.checkout-multishipping-billing .multiple-checkout .col2-set .narrow {width: 29%;}
.checkout-multishipping-addresses .page-title h1{font-weight:700;color:#656565}
.checkout-multishipping-overview .col2-set .narrow .info-box .box-title {font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;font-style:italic;font-weight:bold;text-transform: none;}

.multiple-checkout .sp-methods .price {font: 600 14px/16px Raleway,Arial,Helvetica,sans-serif;}
.multiple-checkout .sp-methods dd li label { font: italic 14px/15px Georgia,"Times New Roman",Times,serif;}
.multiple-checkout .data-table {border-bottom:none;}
.multiple-checkout .data-table tfoot th strong{font-weight:600}
.multiple-checkout  .data-table tfoot {background:none} 
.creditcard-images { float: left; margin: 4px 0 0; padding-left: 20px;}
.card-images-label{width:300px;}

.checkout-onepage-index .sp-methods dd li label,.multiple-checkout .sp-methods dd li label{padding:0;width: auto;float:left}
.checkout-onepage-index .sp-methods .price,.multiple-checkout  .sp-methods .price{float: none;margin: 0 0 0 3px;}

.paypal-express-review .data-table tfoot {background: none repeat scroll 0 0 transparent;}
.paypal-express-review  .data-table tfoot tr.first td {padding-top: 9px;}
.paypal-express-review  .data-table tfoot td, #paypal-express-review  .data-table tfoot th {color: #656565;font-size: 12px;font-weight: 600;padding: 2px 12px;text-transform: uppercase;}
.paypal-express-review .data-table tfoot td .price {font-style: italic;}
.paypal-express-review .data-table .price {color: #636363;font: 14px/14px Georgia,"Times New Roman",Times,serif;}
.paypal-express-review .data-table thead th {border-bottom: 1px solid #D8D8D8;vertical-align: middle;font-size: 12px;color:#656565;font-weight:600}
.paypal-express-review .data-table tbody td {border-bottom: 1px solid #D8D8D8;padding: 12px;}
.paypal-express-review .data-table .item-options {font-size: 11px;}
.paypal-express-review .buttons-set a.button,.paypal-express-review .buttons-set button.button {float: none;}
.paypal-express-review .buttons-set {float:right;}


/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods dt {  color: #999999; font-size: 12px;	font-weight: 700;	margin: 0 0 3px;	text-transform: uppercase;}
.sp-methods dd { margin:10px 0;}
.sp-methods dd li { margin:4px 0;width: 225px; }
.checkout-onepage-index .sp-methods dd li, .multiple-checkout .sp-methods dd li{ margin: 10px 0 18px;overflow: hidden;width: auto;}
.sp-methods dd li label {cursor: pointer;	display: block;	float: right;	font: italic 12px/15px Georgia,"Times New Roman",Times,serif;	margin: 0 0 0 4px;	padding: 0 70px 0 0;	position: relative;	text-align: left;	width: 130px;} 
.checkout-cart-index .sp-methods dd li label span.price { /*position:absolute; right:0; top:0*/ margin: 0 5px;}
.checkout-cart-index .crosssell .product-image-block .actions ul.add-to-links{ float:left;  margin: 0 5px;}
.checkout-cart-index .crosssell .product-image-block .actions button.btn-cart{ float:right}

.checkout-cart-index .crosssell .product-image-block   button.btn-cart span span{ background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #50A4CF;    border: 1px solid #50A4CF;    color: #fff;    font-size: 10px;    height: 29px;    line-height: 29px;     padding: 0 10px 0 24px;}	
.checkout-cart-index .crosssell .product-image-block   button.btn-cart:hover span span{background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #1189c5;    border: 1px solid #1189c5; color:#fff;}	

	
.sp-methods .price {     /*float: right;   */  font: 700 12px/16px Raleway, Arial, Helvetica, sans-serif;color: #636363;   margin: 0 0 0 10px; }
.sp-methods .form-list { padding-left:20px; margin:15px 0; }
.sp-methods .form-list .input-text { width:250px; }
.sp-methods .form-list select { width:256px; }
.sp-methods .form-list label { width:155px; }

.sp-methods select.month { width:150px; margin-right:10px; }
.sp-methods select.year { width:96px; }
.sp-methods input.cvv { width:3em !important; }
.sp-methods .input-box { line-height:21px; }
.sp-methods .radio,
.sp-methods .checkbox {}
.checkout-onepage-index .sp-methods .radio,.multiple-checkout  .sp-methods .radio{float:left;}
.sp-methods .v-fix .validation-advice { margin-right:-250px; position:relative; z-index:1; width:250px; }
.sp-methods .adv-container { padding-left:170px; }
.sp-methods .centinel-logos a { margin-right:3px; }
.sp-methods .centinel-logos img { vertical-align:middle; }
.checkout-onepage-index #checkout-step-shipping_method .sp-methods {padding-left:20px;}

.sp-methods .release-amounts { margin:1.5em 0 2em; }
.sp-methods .release-amounts button { float:left; margin:5px 10px 0 0; }

.checkmo-list li { margin:0 0 4px; }
.checkmo-list label { padding-top:0; }
.checkmo-list address { float:left; }

.please-wait { position:absolute; z-index:99; top:50%; left:50%; margin:-34px 0 0 -90px; border:5px solid #f3b66f; font-size:12px; color:#f18200; font-weight:bold; background:#fff; padding:20px; white-space:nowrap; }
.cvv-what-is-this { cursor:help; margin-left:5px; }

.checkout-cart-index .sp-methods dt{/*float: right; clear:right;*/ text-align: left; margin: 10px 0 0;  clear: left;}
.checkout-cart-index .sp-methods dd {clear:left; float: left;}

/* Payment Bridge */
.pbridge-reload { display:block; text-align:right; }
.pbridge-reload a { color:#1e75b4; font-size:11px; }

/* Tooltip */
.tool-tip { border:1px solid #ddd; background-color:#f6f6f6; padding:5px; position:absolute; z-index:9999; }
.tool-tip .btn-close { text-align:right; }
.tool-tip .tool-tip-content { padding:5px; }

/* Gift Messages */
.add-gift-message { padding:20px 0; }
.add-gift-message h3 { font-size:16px; font-weight:normal; color:#000; line-height:19px; margin:0 0 10px; }
.add-gift-message p { margin:10px 0; }

.gift-message-form { /*border:1px solid #d1d1d1; background:#f5f5f5 url(../images/bkg_block.gif) repeat-x 0 0;*/ background-color:#e6e6e6; }
.gift-message-form .fieldset { padding:10px 0 10px; }
.gift-message-form .fieldset .input-text,
.gift-message-form .fieldset textarea { width:450px !important; }
.gift-message-form .fieldset textarea { width:200px; height:8em; }
.gift-message-form .inner-box { padding:0; /*height:300px;*/ overflow:auto; }
.gift-message-form .inner-box h5,
.gift-message-form .inner-box h4 { font-size:24px; line-height:24px; font-weight:700px; padding:0 10px; color:#656565; margin: 11px 0; text-transform:uppercase; width:479px }
.gift-message-form .inner-box p { margin:10px 0; padding:0 10px; }
.gift-message-form .gift-item { padding:5px 0 0; background:url(../images/bkg_dots.gif) repeat-x 0 100%; margin-bottom: 18px; }
.gift-message-form .gift-item .number { padding:5px 20px 5px; margin-bottom:0; color:#656565; font-weight:700; font-size:12px; text-transform:uppercase; width:105px; text-align:center }
.gift-message-form .gift-item .product-img-box { float:left; width:140px; padding-right:5px; }
.gift-message-form .gift-item .product-image { text-align:center; margin: 0 10px; }
.gift-message-form .gift-item .product-name { font-size:12px; margin: 0; text-align: center; width: 88%;}
.gift-message-form .gift-item .fieldset { float:left; padding:20px 0 10px 0; /*margin:0 0 0 -2px;*/ width:479px}
.gift-message-form .gift-item .fieldset label { width: 129px; }
.gift-message-form .gift-item .gift-wrapping-form { padding:0; }

.gift-options-for-order { padding:0 10px; width: 500px;  }
.gift-options-for-order .fieldset { padding:0; }
.gift-options-for-order .fieldset p { padding:0; font-style:italic }
.gift-options-for-order .fieldset label { width:80px;  margin-left: 0; }
.gift-options-for-order .fieldset .input-text,
.gift-options-for-order .fieldset textarea { width:479px !important; }

.gift-wrapping-form { float: left;padding: 0 0 10px;width: 100%; }
.gift-wrapping-form img { border:1px solid #ccc; float:left; /*margin-right:10px;*/ }
.gift-wrapping-form label { margin-right:10px; vertical-align:middle; float:left}
.gift-wrapping-form select {float:left; color:#636363; font-family:Raleway,Arial,Helvetica,sans-serif;font-size:14px;font-weight:500;font-style:normal; width:auto;}
.gift-wrapping-form .gift-wrapping-design { overflow:hidden; padding:0; float:left; margin-left:8px }
.options-order-container .gift-wrapping-form select {width:200px;}

.gift-message-link { display:block; background:url(../images/bkg_collapse.gif) 0 4px no-repeat; padding-left:20px; }
.gift-message-link.expanded { background-position:0 -53px; }
.gift-message-row {}
.gift-message-row .btn-close { float:right; width:13px; height:12px; background:url(../images/gift-message-close.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.gift-message dt strong { font-weight:bold; }

.options-order-container{padding:10px}
.gift-message-form label,.gift-message-form a{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;font-style:italic;font-weight: normal;color:#656565;}
.gift-message-form label{margin-left:10px}
.gift-message-form .price-box {text-align: center;clear:both;}
.giftoptions-individualitems{border-top:2px solid #ffffff;margin-top: 19px;}
.gift-message-form .extra-options-container .price-box {text-align: left;margin-left: 24px;margin-top:0}
.gift-item label{margin-left:0;}
.gift-item  .fieldset p{padding:0;font-style:italic;color:656565}
#allow-gift-options-for-items-container,.multiplecheckout-allowgiftoptions{border-bottom: 1px solid #d1d1d1;}
.gift-message-form  .fieldset .form-list label{color: #484848;font-size: 12px;font-weight: 600;line-height: 12px;font-family:Raleway,Arial,Helvetica,sans-serif;font-style:normal;}


/* Checkout Agreements */
.checkout-agreements {}
.checkout-agreements li { margin:10px 0; }
.checkout-agreements .agreement-content { border:1px solid #d8cea8; font-size:11px; background-color:#fffdef; padding:15px; height:10em; overflow:auto; }
.checkout-agreements .agree { padding:10px 0; font-size:12px; font-weight:bold; }
.checkout-agreements .agree .checkbox { margin-right:5px; }

/* Centinel */
.centinel { margin:10px 0; }
.centinel p { margin:0 0 10px; }
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

.opc .centinel { margin:0; padding:20px; }

/* Checkout Success */
.checkout-onepage-success .col-main { font-size:12px; }
.checkout-onepage-success .col-main p,.checkout-multishipping-success .col-main p{ margin:0; font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;font-style:italic;color:#656565 }
/********** Common Checkout Styles > */
/* ======================================================================================= */


.checkout-cart-index .form-list .validation-advice { width:100%; }
.checkout-cart-index .show-hide-block, .tag-customer-view .show-hide-block, .enterprise-giftregistry-index-index .data-table .show-hide-block { display:none; }
.checkout-cart-index .cart .shipping #co-shipping-method-form ul.shipping-method-listing, .checkout-cart-index .sp-methods dd li label { *float:left; }


.sales-order-history .label-show-hide-block , 
.sales-order-history .show-hide-block,
.sales-order-view .data-table span.show-hide-label { display:none; }

.checkout-onepage-index .opc-wrapper{position:relative;}
.checkout-onepage-index .opc-progress-container { right:0px;}
.checkout-onepage-index .form-list select{padding: 6px;width:100%}
.checkout-onepage-index .form-list li.fields .field .input-box {width: 90%;}

.checkout-onepage-index .opc-progress-container div.block div.block-title strong span{ display:none;}
.checkout-onepage-index .opc-progress-container .opc-block-progress .block-title{ display:none;}