.cms-page-view .std p{font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;color:#656565;font-style:italic;line-height:24px !important;}
/*.cms-page-view .page-title h1{color: #50A4CF;font-size: 24px;font-weight:bold;text-transform: uppercase;}*/
.cms-page-view .page-title{text-align:center;background:none;border-bottom:none;padding-top: 0;}
.cms-page-view .std h2{font-weight:500; color: #50A4CF;font-size: 14px; font-family: raleway;text-transform:uppercase}
.cms-page-view .std li{font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;color:#656565;font-style:italic;line-height:24px !important;}
.cms-page-view .std h1{color: #50A4CF;font-size: 24px;font-weight: bold;text-transform: uppercase;}
.cms-index-noroute .std h1{color: #50A4CF;font-size: 24px;font-weight: bold;text-transform: uppercase;}
.cms-index-noroute .std p{font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;color:#656565;font-style:italic;line-height:24px !important;}
.cms-index-noroute .home-new-products{margin-top:80px; margin-bottom: 66px;}
.cms-index-noroute .home-new-products p{text-align:center;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;color:#656565;font-style:italic;line-height:24px !important; margin-bottom: 22px;}
.cms-index-noroute .subtitle{color: #50A4CF;font-size: 14px;font-family: raleway;font-weight: bold;text-align:center;text-transform: uppercase;padding-bottom: 4px;}
.cms-index-noroute .home-new-products ul.products-grid li {margin: 0 20px 10px 0;width: 140px;}
.cms-index-noroute .products-grid .product-image {width:140px;}
.cms-index-noroute .home-new-products .category-view {text-align: center;}
.cms-index-noroute .home-new-products .products-grid{display: inline-block;text-align: center !important;width: auto;}
.customerservice_head {display:block;cursor:pointer}
.customerservice_head:hover{text-decoration:none;}
.customerservice_content {display:none;}
#accordion li {position:relative;overflow:hidden;}
#accordion li.plusimage h2{background: url("../images/customerserviceplus.png") no-repeat scroll right 0 transparent;margin-right: 10px;}
#accordion li.active h2{background:url(../images/customerserviceminus.png) no-repeat scroll right 0 transparent;margin-right: 10px;}

.categorylandingMainblock{border: 1px solid #E2E2E2;padding: 7px;}
.catblocks{float: left;	margin: 0 -10px;	padding: 20px 0;}
.catblocks li {display: block; float: left;	margin: 5px 10px;	position: relative;	width: 220px;}
.catblocks li a img{ width:100%; height:auto; max-width:500px;}
/*.catblocks li{border: 1px solid #E2E2E2;}*/
.catblocklinks{color:#ffffff;position:absolute;background-color:#7b7c7b;font-family: raleway;font-size:17px;font-weight:bold;text-transform:uppercase;text-align:center; bottom: 0; left:0; width:100%}
.catblocklinks a{color:#ffffff;text-decoration:none}
.catlandingbottomPromoblock{float:left;width:100%;border: 1px solid #E2E2E2; margin-bottom: 100px; display:none; }

.cms-menu{float:left;margin-bottom: 20px;}
.cms-menu .parent a span{color: #50A4CF;font-size: 14px;font-weight:bold;text-transform: uppercase;}
.cms-menu .parent a {text-decoration:none;padding-bottom:5px; float: left;}
.cms-menu .parent li strong{color: #50A4CF;font-size: 12px;font-weight:500;text-transform: uppercase;padding-bottom: 22px;float: left;}
.cms-menu .parent ol{border-top: 1px solid #E2E2E2;float: left;padding-left: 10px;padding-top: 25px;}
.cms-menu .parent li{display:block;white-space:nowrap}
.cms-menu .parent li a{padding-bottom: 22px;float:left}
.cms-menu .parent li span{color: #636363;font-size: 12px;font-weight:500;text-transform: uppercase;}