.footer-before-container { margin:0 0 3px; text-align:center; }

/*.form-subscribe { float:left; width:183px; padding: 0 17px 0 0; }
.form-subscribe-header { color:#d12c01; font-size:11px; font-weight:bold; text-decoration:none; text-transform:uppercase; }
.form-subscribe label { display:block; margin:6px 0; }
.form-subscribe input.input-text { width:177px; display:block; }
.form-subscribe button.button { margin:6px 0 0; float:right; }
.form-subscribe .validation-advice { width:180px; }
.form-subscribe .v-fix { text-align:left; padding-right:5px; }
.form-subscribe a { color:#777; }
*/
.footer-container { border-top: 1px solid #D8D8D8; margin: 0 0 0 -10px; padding: 0; text-align: left; width: 960px; background-color: #fff; float:left; }
.footer > div { float: left;}
.footer { margin: 0 auto;    width: 940px; padding: 32px 0 83px;}
.footer a {text-decoration: none;    text-transform: uppercase; font-size: 11px; color:#636363;line-height: 22px;}
.footer a:hover { text-decoration:none; color:#50a4cf }
.footer ul,
.footer ul.links { display:block; float:left; width:150px; margin:0px; padding:0; }
.footer ul.links li,
.footer ul li { display:inline-block; float: left; vertical-align:top; margin:0; padding:0; clear: left; }
.footer  h3 {color:#50A4CF; text-transform:uppercase;   font-weight: normal; font-size: 11px;line-height: 22px;}

address.copyright {  border-top: 1px solid #D8D8D8; color:#50a4cf;    height: 54px;    line-height: 54px;    margin: 0px;    text-align: center; font-style:italic;  font:11px/54px Raleway, Arial, Helvetica, sans-serif;}

.footer .switcher-store { float:right; width:184px; background:url(../images/bkg_store-switch.gif) no-repeat 0 3px; padding-top:21px; }
.footer .switcher-store label { display:none; }
.footer .switcher-store select { padding:0; margin-bottom:1px; }
.footer .switcher-store ul { float:none; width:auto; padding-left:0; margin-left:0; }
.footer .switcher-store ul .current { display:none; }

.footer ul.social-media-links{}
.footer ul.social-media-links li { display:block; }
.footer ul.social-media-links li a{ background: url("../images/madison-sprite-a.png") no-repeat scroll -7px -50px;    float: left;    height: 22px;    margin: 0;    padding: 0 0 0 22px;    width: auto;}
.footer ul.social-media-links li a.fb{background-position:-7px -46px;}
.footer ul.social-media-links li a.tw{ background-position: -7px -68px;}
.footer ul.social-media-links li a.yt{ background-position: -7px -89px;}
.footer ul.social-media-links li a.pi{background-position:-7px -112px;}
.footer ul.social-media-links li a.rss{background-position:-7px -135px;}
.footer ul.social-media-links li a:hover{ text-decoration:none}