body.enterprise-giftregistry-index-edit .my-account ul.form-list li input { width: 420px;}
body.enterprise-giftregistry-index-edit .my-account ul.form-list li input.datetime-picker{margin: 0 10px 0 0; width: 395px;}
body.enterprise-giftregistry-index-edit .my-account ul.form-list li select {  padding: 4px;    width: 425px;}
body.enterprise-giftregistry-index-edit .my-account ul.form-list li textarea {  width: 420px;}
body.enterprise-giftregistry-index-edit .my-account div.fieldset div.fieldset{margin: 0 0 50px;}
body.enterprise-giftregistry-index-edit .my-account div.fieldset h2{}
body.enterprise-giftregistry-index-edit .my-account div.fieldset p.back-link{ display:none;}
body.enterprise-giftregistry-index-edit .my-account div.fieldset div.buttons-set.form-buttons{   border-top: 1px solid #D8D8D8;    margin: -20px 0 0;    padding: 20px 0;}
body.enterprise-giftregistry-index-edit .my-account div.fieldset  div.fieldset div.buttons-set.form-buttons{ border:none;}