/* Page Heading */
.page-title {/*border-bottom:1px solid #cfcfcf;*/background:none;padding:12px 0 20px;margin-bottom: 0; }/*Siva*/
.page-title .link-rss { float:right; margin-top:8px; }
.page-title h1,
.page-title h2 { /*color: #636363;font: 300 22px/40px 'Raleway',Arial,Helvetica,sans-serif;text-transform: uppercase;height: 35px;*/color:#636363;text-transform:uppercase;font-family: raleway;font-size: 24px; line-height:26px; font-weight: 600; }

.title-buttons { text-align:right; }
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { float:left; }
.title-buttons .link-print { float:right; margin-top:4px; }

.sub-title-buttons { text-align:right; padding:10px 0; }

.subtitle { clear:both; padding:10px 0; font-size:18px; color:#d12c01; }

.page-popup .page-title,
.col-main .page-title { /*margin-left:-20px; margin-right:-20px;*/ }
.col1-layout .col-main .page-title { /*margin-top:-20px;*/ }

.sub-title {  font:700 14px/1.25em 'Raleway', Arial, Helvetica, sans-serif; color:#656565; margin:3px 0 10px; padding-bottom:4px; text-transform:uppercase; border-bottom:1px solid #d8d8d8; }
.sub-title .separator { font-weight:normal; display:none; }
.sub-title a { font:700 10px/22px 'Raleway', Arial, Helvetica, sans-serif; float:right; }
.section-title { font-size:14px; font-weight:normal; color:#151515; margin:0 0 5px; }