.cms-home .homepage-image-carousel{border: 1px solid #E2E2E2;    padding: 7px; position:relative; margin:-11px 0 10px 0 }
.cms-home .homepage-image-carousel .rslides {  position: relative;  list-style: none;  overflow: hidden;  width: 100%;  padding: 0;  margin: 0;}
.cms-home .homepage-image-carousel .rslides li {  -webkit-backface-visibility: hidden;  position: absolute;  display: none;  width: 100%;  left: 0;  top: 0;  }
.cms-home .homepage-image-carousel .rslides li:first-child {  position: relative;  display: block;  float: left;  }
.cms-home .homepage-image-carousel .rslides img {  display: block;  height: auto;  float: left;  width: 100%;  border: 0;  }
.cms-home .homepage-image-carousel a.next, .cms-home .homepage-image-carousel a.prev{	display:none;	  /* IE 8 */  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";  /* IE 5-7 */  filter: alpha(opacity=25);  /* Netscape */  -moz-opacity: 0.25;  /* Safari 1.x */  -khtml-opacity: 0.25;  /* Good browsers */ opacity: 0.25; background: url("../images/slide-arrows.png") no-repeat scroll center center #000;    top: 0px; z-index:10; text-indent:-9999px;    position: absolute; width:30px;  height:100%;}
.cms-home .homepage-image-carousel a.next{  right: 0px; background-position:right   }
.cms-home .homepage-image-carousel a.prev{  left: 0px; background-position:left }
.cms-home .homepage-image-carousel:hover a.next, .cms-home .homepage-image-carousel:hover a.prev{	display:block}
.cms-home .homepage-image-carousel ul.rslides_tabs{ bottom: 18px;    margin: 0;    padding: 0;    position: absolute;    z-index: 9999;}
.cms-home .homepage-image-carousel ul.rslides_tabs li{   display: inline;    float: left; list-style: none outside none;}
.cms-home .homepage-image-carousel ul.rslides_tabs li a{  border:1px solid #50A4CF;	background:transparent;    float: left;    height: 4px; margin:0 10%;    width: 80%; text-indent:-9999px;}
.cms-home .homepage-image-carousel ul.rslides_tabs li.rslides_here a,
.cms-home .homepage-image-carousel ul.rslides_tabs li.rslides_here a:hover{  background: none repeat scroll 0 0 #50A4CF; cursor:default}
.cms-home .homepage-image-carousel ul.rslides_tabs li a:hover{  background:#fff;}
/**/
.cms-home .homepage-image-carousel div.slideshow-caption{	display: block;		margin: 0;	position: absolute; color: #000000;    font-size: 30px;    font-weight: 500;       line-height: 36px;    text-align: center;}
.cms-home .homepage-image-carousel div.slideshow-caption span.blue-big-text{color: #3399CC;    font-size: 50px;    font-weight: 800;    padding: 0 0 0 8px;}
.cms-home .homepage-image-carousel div.slideshow-caption span.three-dots{ background:url(../images/bg_threeDots.png) no-repeat center center; display:block; height: 20px;}
.cms-home .homepage-image-carousel div.slideshow-caption p.desc{ font: italic 18px/28px Georgia, "Times New Roman", Times, serif; color:#656565; }
.cms-home .homepage-image-carousel div.slideshow-caption a{  color: #000000;}
.cms-home .homepage-image-carousel div.slideshow-caption a:hover{text-decoration:none;}
.cms-home .homepage-image-carousel div.slideshow-caption a.link, .cms-home .homepage-image-carousel div.slideshow-caption span.link{color: #000000; font-size: 13px;font-weight: 700;    text-decoration: underline; display: block;}
.cms-home .homepage-image-carousel div.slideshow-caption a.link:hover, .cms-home .homepage-image-carousel div.slideshow-caption span.link:hover{text-decoration:underline; color:#1189C5;}




/**/
.cms-home ul.home-thumbs{float: left; list-style: none outside none; margin: 0 0 10px; padding: 0; width: 100%;}
.cms-home ul.home-thumbs li {display: block; float: left;  margin: 0 1.808% 0 0; width:32.127%; }
.cms-home ul.home-thumbs li.last { margin: 0 ;}
.cms-home ul.home-thumbs li a{}
.cms-home ul.home-thumbs li a img{ height:auto; width:100%; max-width:302px;}
/**/
.cms-home .home-new-products{float: left;  margin: 0 0 60px; width: 100%;}
.cms-home .home-new-products h1{border-bottom: 1px solid #cccccc;    border-top: 1px solid #cccccc;    color: #50A4CF;    font: 600 22px/24px Raleway,Arial,Helvetica,sans-serif;    margin: 0 0 16px;    padding: 8px 0;    text-align: center;}
.cms-home .home-new-products .category-view{  margin: 0;    padding: 0;}
.cms-home .home-new-products ul.products-grid{  margin: 0;    padding: 0;}
.cms-home .home-new-products ul.products-grid li{ margin:0 6px;width: 225px;}
.cms-home .home-new-products ul.products-grid li.last{ margin:0;}
.cms-home .home-new-products ul.products-grid li a.product-image{width: 100%; height: auto; margin: 0 auto;}
.cms-home .home-new-products ul.products-grid li a.product-image img{}
.cms-home .home-new-products ul.products-grid h3.product-name {text-align: center; margin: 20px 0 10px;   float: none;}
.cms-home .home-new-products ul.products-grid h3.product-name a{}
.cms-home .home-new-products ul.products-grid div.price-box{text-align: center;}