/* Global Messages */
.messages { /*margin-top: 0px;*/ margin-top:10px; overflow: hidden; text-align: left; width: 100%; }
.messages li { margin:0 0 10px; padding:0; word-wrap:break-word; }
.messages ul { padding:10px 17px 18px; margin:0 0 -11px; background-position:35px 100%; background-repeat:no-repeat; position:relative; }
.messages ul li { margin:0; padding:0 0 3px; }
.messages a { text-decoration:underline; }
.messages a:hover { text-decoration:none; }
.messages li.error-msg,
.messages li.success-msg,
.messages li.note-msg,
.messages li.notice-msg { border-style:solid !important; border-width:1px !important; font-size:12px !important; }
p.error-msg { border-style:solid !important; padding:10px; border-width:1px !important; font-size:12px !important; margin:10px 0; }
/* Error Message */
.messages li.error-msg { border-color:#e9581f; background-color:#fff5f3; color:#d91a00; }
.messages li.error-msg a { color:#d91a00; }
.messages li.error-msg ul { /* background-image:url(../images/bkg_msg-error.gif); */ }
p.error-msg { border-color:#e9581f; background-color:#fff5f3; color:#d91a00; }
/* Success Message */
.messages li.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.messages li.success-msg a { color:#3d6611; }
.messages li.success-msg ul { /* background-image:url(../images/bkg_msg-success.gif); */ }
/* Notification Message */
.messages li.note-msg,
.messages li.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }
.messages li.note-msg a,
.messages li.notice-msg a { color:#3d6611; }
.messages li.note-msg ul,
.messages li.notice-msg ul { /* background-image:url(../images/bkg_msg-note.gif); */ }

/* Global site notices */
.global-site-notice { }
.global-site-notice .notice-inner { }
.global-site-notice .notice-inner p {}
.global-site-notice .notice-inner .actions {}

/* Cookie Notice */
.notice-cookie { }

/* Noscript Notice */
.noscript {}

/* Demo Notice */
.demo-notice {   background: none repeat scroll 0 0 #000000;    border: 0 none;  position: relative;       z-index: 999999;  color: #E6E6E6;    font-size: 12px;    height: 40px;      margin: 0;    padding: 0;    text-align: center; }
.demo-notice .notice-inner { background: none repeat scroll 0 0 transparent;margin: 0 auto;padding: 0;text-align: center;width: 940px;font-size: 11px;}

.demo-notice .notice-inner p { background: url(../images/mlogo.gif) no-repeat scroll 0 6px transparent; line-height: 40px; 	border: 0 none;	color: #FFFFFF; 	float: left; font-size: 10px; padding: 0 0 0 230px; }
.demo-notice ul.social-media-links{display: inline; float:right;    margin: 9px 0 0;}
.demo-notice ul.social-media-links li {display: inline;   margin: 0 10px 0 0; float:left}