.link-rss { background:url(../images/icon_rss.gif) 100% 1px no-repeat; padding-right:18px; white-space:nowrap; }
.link-rss:hover { color:#f58550; }
.link-print { background:url(../images/icon_printer.gif) 0 1px no-repeat; padding:2px 0 2px 25px; white-space:nowrap; }
.link-cart { /*font-size:11px; font-weight:bold; color:#c73615; text-decoration:underline;*/ }
.link-cart:hover { color:#c73615; text-decoration:none; }

.data-table .btn-remove { cursor: pointer; display: block; white-space: nowrap;}
.data-table .btn-remove2 {}

.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }

.divider { color: #CCCCCC;    height: 1px;    margin: 16px 0;    overflow: hidden;}

/* Content Styles ================================================================= */
.product-name {     color: #686868;    font-size: 12px;    font-weight: bold;}
.product-main-info .product-name {    width: 375px;}
.product-name a { color:#686868; text-decoration:underline; font-weight: 500;    text-decoration: none;    text-transform: uppercase; }
.product-name a:hover { color:#686868; text-decoration:none; }

.category-view .products-list .product-name a { color:#50A4CF; font-weight:700; font-size:18px; }
/* Product Tags */
body.tag-product-list .main{margin:30px 0 0 0}
.tags-list { margin:5px 0; }
.tags-list li { display:inline; font-size:12px; }
.tags-list li a {     margin: 0 2px 0 0;    text-decoration: none;    text-transform: uppercase; }
.tags-list li a:hover { text-decoration:underline; }

/* Advanced Search */
.search-summary { padding:10px 10px 0; margin:10px 0 0; font-size:12px; background:url(../images/bkg_dots.gif) repeat-x 0 0; }
.search-summary li { margin:2px 0; }

/* Sitemap */
.page-sitemap .links { display:block; text-align:right; margin:0 20px 0 0; }
.page-sitemap .links a { position:relative; }
.page-sitemap .sitemap { padding:0 20px; margin:15px 0; font-size:12px; }
.page-sitemap .sitemap li { margin:3px 0; }



/* Some sample data cms styles ================================================================================ */
.page-head-alt {}
.page-head,
.page-head-alt { margin-bottom:20px; /*padding:23px 20px 11px; background:#f6f6f6 url(../images/bkg_page-title.gif) repeat-x 0 0; border-bottom:1px solid #cfcfcf;*/ text-align:center; padding-top:0px; }
.col-main .page-head,
.col-main .page-head-alt { margin:0 -20px 20px; }
.page-head-alt .link-rss { float:right; margin-top:8px; }
.page-head h2,
.page-head h3,
.page-head-alt h3,
.page-head-alt h2 { /*font:normal 22px/27px Arial, Helvetica, sans-serif; color:#d12c01;*/ color: #50A4CF; font-weight:700; font-size: 24px; text-transform: uppercase; text-align:left; margin-left:20px;}

