/* Restricted ================================================================================ */
.restriction-index-stub .page { width:652px; padding-bottom:3px; }
.restriction-index-stub .main { margin-top:100px; min-height:0; height:auto !important; padding:13px; text-align:center; margin-bottom:0; }
.restriction-index-stub .col-main { color:#dedede; height:auto !important; min-height:230px; height:230px; font-size:16px; background:#4a4a4a url(../images/logo-offline.gif) no-repeat 50% 95px; padding:170px 60px 40px; }
.restriction-index-stub .page-title { margin:0 0 15px !important; padding:0 !important; border:0 !important; background:none; }
.restriction-index-stub .col-main h1,
.restriction-index-stub .col-main h2 { font:italic 35px Georgia, "Times New Roman", Times, serif; color:#fff; }
.restriction-index-stub .header-container,
.restriction-index-stub .footer-container { display:none; }
.restriction-index-stub .copyright { background:url(../images/bkg_shadow-offline.gif) 50% 0 no-repeat; padding:15px 0 0; margin:0; }


/* Old private sales index ================================================================================ */
.private-sales-index { background:#2b2b2b; margin:110px 0 60px; padding:40px 0; }
.private-sales-index .box { border:1px solid #e2ded0; background:#fff url(../images/bkg_ps.gif) no-repeat 50% 13px; padding:50px 13px 0; width:657px; margin:0 auto; }
.private-sales-index .box .content { padding:0 60px 70px; background:url(../images/bkg_ps.gif) no-repeat 50% 100%; font-size:14px; }
.private-sales-index .box .content p { text-align:center; }
.private-sales-index .box .content a { color:#444444; }
.private-sales-index .box .content h1 { background:url(../images/bkg_ps-logo.gif) no-repeat 50% 0; padding:60px 0 5px; font-size:29px; font-weight:normal; color:#ec4e00; }
.private-sales-index .box .content .description { background:url(../images/bkg_ps-descr.gif) no-repeat 50% 0; margin:40px auto 0; width:433px; padding:30px 50px 30px; font:normal 20px Georgia, "Times New Roman", Times, serif; font-style:italic; color:#817268; }

.col1-layout .private-sales-index { margin:0 -20px -31px; height:auto !important; height:350px; min-height:350px; }

/* Private sales index ================================================================================ */
.private-sales-index { background:#fffdf9 url(../images/bkg_ps-home.jpg) no-repeat 50% 88px; padding-top:90px; }
.private-sales-index .box {}
.private-sales-index .box .content {}
.private-sales-index .box .content p { padding-top:475px; text-align:center; color:#444444; font-size:18px; }
.private-sales-index .box .content a { color:#c12900; }
.private-sales-index .box .content h1 { display:none; }
.private-sales-index .box .content .description { display:none; }

.col1-layout .private-sales-index { margin:0 -20px -31px; background-position:0 20px; padding-top:20px; height:auto !important; height:550px; min-height:550px; }

/* Private sales demo ==================================================================== */
.cms-private-sales-home { /*background-color:#fffdf9;*/ padding:0; }
.private-sales-demo {}

.private-sales-demo p {  }
.private-sales-demo a { color:#c12900; }


div.private-sales-demo {background:url(../images/bkg_ps-home.jpg) no-repeat center center #333333 ;padding: 0; }
div.private-sales-demo .page-title{ padding:0; margin:0}
div.private-sales-demo .private-account-login{background: none repeat scroll 0 0 #FFFFFF;	 color: #656565;  border: 3px solid #999999;	 text-align: center; 	left: 48%;	margin: -140px 0 0 -290px;	padding: 20px;	position: absolute;	top: 50%;	width: 580px;}
div.private-sales-demo .private-account-login .fieldset{margin: 0;}
div.private-sales-demo .private-account-login div.registered-users{ width: 100%;}
div.private-sales-demo .private-account-login h1{  color: #656565;     font-weight: 700; font-size:21px;}
div.private-sales-demo .private-account-login p{  font-size: 12px;    line-height: normal;    margin: 0;    padding: 0;}
div.private-sales-demo .private-account-login .required em { float:none}
div.private-sales-demo .private-account-login ul{  margin: 20px auto;    padding: 0;    width: 300px;list-style: none outside none;}
div.private-sales-demo .private-account-login li{float: left;width: 306px;}
div.private-sales-demo .private-account-login li.note{ text-align: left;}
div.private-sales-demo .private-account-login li label{ font:11px/11px Raleway, Arial, Helvetica, sans-serif;}
div.private-sales-demo .private-account-login li.buttons-set{margin: 8px 0;}
div.private-sales-demo .private-account-login li.buttons-set button span span{padding: 0;    width: 166px;}
div.private-sales-demo .private-account-login li.buttons-set button.register{border-left: 1px solid #898989;    margin: 0 0 0 10px;    padding: 0 0 0 10px;}
div.private-sales-demo .private-account-login li.buttons-set button.register span span{ background:#d8d8d8; color:#fff; padding: 0;    width: 166px; width: 116px;}
div.private-sales-demo .private-account-login li.buttons-set button.register:hover span span{ background:#1189c5; color:#fff;}

div.private-sales-demo .private-account-login li.note{text-align: left;}
div.private-sales-demo .private-account-login li.note a{font:9px/11px Raleway, Arial, Helvetica, sans-serif; text-decoration: underline; text-transform:uppercase; color:#50a4cf;}
div.private-sales-demo .private-account-login li .input-text{  width: 300px; text-align: center;}
div.private-sales-demo .private-account-login li .validation-advice{ text-align:left;}

.col1-layout .private-sales-demo { margin:0 -20px -31px; background-position:0 20px; padding-top:20px; height:auto !important; height:550px; min-height:550px; }
/* ======================================================================================= */


body.cms-private-sales-home .widget-events{background: none repeat scroll 0 0 transparent; padding: 0 !important; margin: 30px 0 170px;}
body.cms-private-sales-home .events-slider{border: medium none;}
body.cms-private-sales-home .widget-events:hover .slide-button{display:block;}
body.cms-private-sales-home div.slider-panel{}
body.cms-private-sales-home ul.slider{ }
body.cms-private-sales-home ul.slider li.slider-item{}
body.cms-private-sales-home .event-ticker .container span.bottom-line { padding:0 2px;}
body.cms-private-sales-home .event-ticker .delimiter{padding:0 2px;}