/*--Quick View - #toPopup styles--*/

.quick-view.button  { padding: 0 10px; }
#toPopup { padding: 12px; border: none !important; border-radius: 0!important; min-height: 500px; height: auto !important; height: 500px; }
#toPopup .product-view .product-img-box { width: 370px; }
#toPopup .product-view .product-img-box .product-image img { height: auto; }
#toPopup .product-view .product-name h1 { font-weight: 400;}
#toPopup .product-view .product-shop .availability { font-weight: 500;}
#toPopup .product-view .product-shop .add-to-cart { padding: 0 0 10px 15px!important; float: right; }
#toPopup .options-container-small .add-to-cart { padding-top: 0 !important; }
#toPopup .price-box .price-excluding-tax label, #toPopup .price-box .price-including-tax label { font-size: 11px !important; color: #636363 !important;}
#toPopup #lightwindow_navigation > a#lightwindow_next { width: 42px; height: 140px; display: block; background: url(../images/controls.png) -50px 0 no-repeat; position: absolute; right: -46px; top: 190px; }
#toPopup #lightwindow_navigation > a#lightwindow_previous { width: 42px; height: 140px; display: block; background: url(../images/controls.png) 8px 0 no-repeat; position: absolute; left: -45px; top: 190px; }
#toPopup #lightwindow_next > span, #toPopup #lightwindow_previous > span { /*display: none;*/ position: absolute; text-indent: -9999px; }
#toPopup > a#close { width: 8px; height: 9px; background: url(../images/bkg_close.gif) 0 0 no-repeat; position: absolute; right: 14px; top: 10px; text-indent: -9999px; cursor: pointer; }
#toPopup .product-view .product-shop .price-box  { /*top: 33px !important;*/ position: inherit; margin-top: -29px; margin-bottom: 10px; overflow: hidden; }
#toPopup .product-view .product-shop .price-box .special-price .price { font-size: 16px; }
.col3-layout #toPopup .product-view { width: inherit; }
.col3-layout #toPopup .product-view .product-shop  { width: 400px; float: right; }
.col2-left-layout #toPopup .product-view .product-collateral, .col2-right-layout #toPopup .product-view .product-collateral, .col1-layout #toPopup .product-view .product-collateral, .col3-layout #toPopup .product-view .product-collateral  { width: 100%; }

/*--Quick View - #toPopup styles ends--*/