/*##############################################################################


                             RESET CONFIG


##############################################################################*/

$reset-css: true;

/*##############################################################################


                                RESET 


##############################################################################*/
@if $reset-css{
    * { margin:0; padding:0; }
    
    
    .definition-term,
    .definition-description,
    .list,
    .list-unordered
    .list-ordered,
    .list-item,
    .link,
    .page-title, .page-subtitle,
    .section-title, .section-subtitle,
    .label, .form-label, .form-control-label,

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video{
        font:{
            family: inherit;
            size: $base-font-size;
            weight: $base-font-weight;
        };
        line-height: $base-line-height;
        letter-spacing: $base-letter-spacing;
        word-spacing: $base-word-spacing;
        border: none;
        vertical-align: $default-vertical-align;

    }
    ul,ol{list-style: none;}
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
        display: block;
    }

    html,body{font-family: $base-typeface;}

    html{
        //
        // 1. Set default font family to sans-serif.
        // 2. Prevent iOS text size adjust after orientation change, without disabling
        //    user zoom.
        //
        -webkit-text-size-adjust: 100%; // 2
        -ms-text-size-adjust: 100%; // 2
    }

}