/* Reward Points */
.rewards { margin:-10px 0 20px; }
.reward-message { display:block; margin:0px; background:url(../images/bkg_rewards.png) 8px center no-repeat #f9d75e; padding: 15px 15px 15px 49px; font:normal 12px/14px Georgia, "Times New Roman", Times, serif; color:#636363; text-align:left; }
.reward-message p { display:inline; margin:0 4px 0 0 !important; }
.reward-message .limit { /*display:block; font-size:11px; line-height:1.15;*/ }
.reward-message a { color:#CC6600; text-decoration:underline; }
.reward-message a:hover { color:#CC0000; }
.reward-message .price { font-size:1em; font-weight:normal; }
/* Reward Points types rewrites */
.reward-review,
.reward-tag,
.reward-checkout { margin: 10px 0;}