.send-friend{margin: 0 0 30px;}
.send-friend .fieldset{  margin: 0;}
.send-friend ul.form-list .input-text{ width:200px;}
.send-friend ul.form-list .input-text.sender_message{ width: 425px;}
.send-friend ul.form-list li div.field{clear: none;    float: left;    margin: 0 20px 0 0;}
.send-friend ul.form-list li label{ font-weight:500;}
.send-friend ul.form-list li label em{ float:none}
.send-friend p.recipient_btn{float:left; margin: 30px 0 0;}
.send-friend p.recipient_btn a{background: url("../images/madison-sprite-a.png") no-repeat scroll 0 0 transparent;  width:16px; height:16px; float:left; display:block ;text-indent: -999px; }
.send-friend p.recipient_btn.add_btn a{ background-position: -7px -801px;    font-size: 12px;    text-indent: 24px;    white-space: nowrap;    width: auto; font: 500 10px/15px 'Raleway', Arial, Helvetica, sans-serif ;}
.send-friend p.recipient_btn.remove_btn a{background-position: -7px -837px;}
.send-friend #max_recipient_message{ color: #DA1818;    line-height: 30px;    margin: 0 0 30px;    padding: 0;    text-align: left;}
.send-friend .buttons-set{ clear: none;    float: left;    margin: 22px 0 0;}