.catalog-seo-sitemap-product .pager { float:none; line-height:30px; background-color:#CCF;}
.catalog-seo-sitemap-product .pager .amount { line-height:30px;}
.catalog-seo-sitemap-product .pager .i-previous{ vertical-align:baseline;}


