/* Pager */
.pager { float: right;}

.pager p { margin:0 !important; }
.pager select { padding:0; margin-bottom:1px;width: 40px; }
.pager .amount { float:left; line-height:20px; }
.pager .amount strong { font-weight:normal; }
.pager .limiter { float:right; margin: 0;}
.pager .limiter label {   float: left;}
.pager .limiter .jqTransformSelectWrapper{ margin: 0 5px;    width: 35px !important;/**/}
.pager .limiter .jqTransformSelectWrapper ul{ width: 35px !important;}
.pager .limiter .jqTransformSelectWrapper div span { line-height:20px; }
.pager .pages { margin: 0 135px; text-align: center; }
.pager .pages a {}
.pager .pages a:hover { color:#8c8c8c; text-decoration:none; }
.pager .pages ol,
.pager .pages li { display:inline; padding:0 2px; font-weight: 600; font-size: 12px; color:#50A4CF; }
.pager .pages .current {color:#333}
.pager .pages .i-previous,
.pager .pages .i-next { text-decoration:none !important; vertical-align:middle; }
.pager-only { clear:both; }
.pager-only .pages { margin:0; }

/* Sorter */
.sorter {   float: left;}
.sorter p { margin:0; }
.sorter select { padding:0; margin-bottom:1px; }
.sorter .view-mode {white-space:nowrap;  float: left;   margin: 0 0 0 40px; }
.sorter .view-mode label { float:left; margin:0 5px 0 0; }
.sorter .view-mode a.list-fix,
.sorter .view-mode a.list,
.sorter .view-mode strong.list-fix,
.sorter .view-mode strong.list,
.sorter .view-mode a.grid-fix,
.sorter .view-mode a.grid,
.sorter .view-mode strong.grid-fix,
.sorter .view-mode strong.grid { background:url("../images/madison-sprite-a.png") no-repeat 0 0 ; float:left; width:16px; height:16px; text-align:left; text-indent:-999em; overflow:hidden; margin:5px 2px; }
.sorter .view-mode a.list { background-position:-8px -434px; }
.sorter .view-mode strong.list { background-position:-8px -415px; }
.sorter .view-mode a.grid { background-position:-8px -399px; }
.sorter .view-mode strong.grid { background-position:-8px -379px; }

.sorter .view-mode a.list-fix { background-position:0 -58px; }
.sorter .view-mode strong.list-fix { background-position:0 -87px; }
.sorter .view-mode a.grid-fix { background-position:-24px -58px; }
.sorter .view-mode strong.grid-fix { background-position:-24px -87px;; }

.sorter .sort-by {    float: left; margin: 0 20px 0 0;}
.sorter .sort-by label  {float: left;   height: 25px;    line-height: 25px;margin: 0 5px 0 0;}
.sorter .link-feed {}
.sorter .sort-by .jqTransformSelectWrapper{ width:90px !important}
.sorter .sort-by .jqTransformSelectWrapper ul{width:90px !important}
.sorter .sort-by .jqTransformSelectWrapper div span{ width:75px !important;}
.sorter .sort-by a.asc{background: url("../images/madison-sprite-a.png") no-repeat scroll -10px -337px transparent;    float: left;    height: 20px;    margin: 2px 0 0 12px;    text-indent: -9999px;    width: 10px;  }
.sorter .sort-by a.desc{background: url("../images/madison-sprite-a.png") no-repeat scroll -10px -354px transparent;    float: left;    height: 20px;    margin: 2px 0 0 12px;    text-indent: -9999px;    width: 10px; }

/* Toolbar */
.toolbar {    float: left;    height: 25px;    line-height: 25px;    margin: 0 0 15px;    padding: 0 0 5px;    text-transform: uppercase;    width: 100%;}
.toolbar .pager {width: 275px; }
.toolbar-bottom { border-top: 1px solid #EDEDED;   border-bottom: 1px solid #EDEDED;    float: left;    margin: 20px 0 0;    padding-top: 5px;    width: 100%;}
.toolbar-bottom .toolbar { margin:0px;}

.toolbar .pager .pages { float:right; margin:0; text-align:left; }
.toolbar .pager .limiter { float:left; }