
/*------------------------------------------------------------------------------ 

                                HEX VALUES

------------------------------------------------------------------------------*/

$color-palette:
//Transparent 
transparent 'transparent',

//Gray-Scale
white '#FFFFFF',
light-gray '#ededed',
medium-gray '#cfcfcf',
dark-gray '#444444',
black '#000000',

//Theme Colors
light-blue '#bbdff2',
blue '#50A4CF',
dark-blue '#1189c5',
beige '#F5F5F5',
dark-beige '#666666',
medium-beige '#EFEFEF',
maroon '#CF5050',

//Special Color Codes
warning 'yellow',
alert 'red',
success '#05cd00',
info '#1E75B4',
muted '#f8f8f8';




/*------------------------------------------------------------------------------ 

                                CORE

------------------------------------------------------------------------------*/

@function color($color-name, $color-palette: $color-palette ){
    @if length($color-palette)== 2{
        @if nth($color-palette,1) == $color-name{ @return unquote(nth($color-palette,2));}
    }
    @else{
        @each $color in $color-palette{
            @if nth($color,1) == $color-name{ @return  unquote(nth($color,2));}
        }
    }
    @return red;
   // @warn 'No color value specified for' + $color-name
}