/*------------------------------------------------------------------------------ 

                                CONFIGURATION

------------------------------------------------------------------------------*/
/************************
    Default Config
************************/
$include-title-classes: true;

$default-title-base-config: null;


$default-page-title-config: font-size 22px, color color(orange);
$default-page-subtitle-config: font-size 37px;


$default-section-title-config: font-size 27px;
$default-section-subtitle-config: font-size 23px;


/*------------------------------------------------------------------------------ 

                                 CORE

------------------------------------------------------------------------------*/
@if $include-title-classes == true{

    .page-title, .page-subtitle, .section-title, .section-subtitle {
        //All titles
        @include style($default-title-base-config);

    }

    .page-title  { @include style($default-page-title-config)};
    .page-subtitle { @include style($default-page-subtitle-config) }
    
    .section-title { @include style($default-section-title-config) }
    .section-subtitle{ @include style($default-section-subtitle-config) }

}

.page-title[theme="classic"]{
    /********** MOBILE VIEW ***********/
    font-size: 24px;
    color: color(dark-gray);
    text-align: center;
    
    /********** TABLET VIEW ***********/
    
    /********** DESKTOP VIEW ***********/
    @include breakpoint(md){
        text-align: left
    }
}

