/*#################################################################################################



                             TICK BOXES (CHECKBOX & RADIO BUTTONS)



#################################################################################################*/


/*=====================================================================================

                            CONFIGURATION -> RADIO BUTTONS

=====================================================================================*/
/*-----------------------------
        HTML LAYOUT
-----------------------------*/

/*
<RADIO GROUP>
    <RADIO CONTROL>
        <INPUT TYPE="radio" class="radio">
        <FORM CONTROL LABEL>
    </RADIO CONTROL>
</RADIO GROUP>
*/

$include-radio-button-classes: true;

/******* RADIO GROUP SPACING *************/

//ADJACENT RADIO GROUP SPACING
$default-radio-group-stack-spacing: $default-field-group-spacing + 10;
$default-radio-group-pack-spacing: $default-field-group-spacing + 10;



/******* RADIO CONTROL SPACING (INSIDE RADIO GROUP) *******/


$default-radio-control-stack-spacing: $default-stack-spacing + 5;
$default-radio-control-pack-spacing: $default-pack-spacing + 5;




/******* RADIO CONTROL CONFIG *******/
//GENERAL CONFIG
$default-radio-control-config: null;

//CURSOR
$default-radio-control-cursor: pointer;

//HEIGHT, LINE-HEIGHT & VERTICAL-ALIGNMENT
$default-radio-control-height: auto;
$default-radio-control-line-height: $base-line-height;
$default-radio-control-vertical-alignment: top;




/******* FORM CONTROL  LABEL CONFIG *******/
$default-radio-control-label-config: null;
$default-radio-control-label-typography: null;

//SPACING BETWEEN <input type="radio"> and LABEL
$default-radio-control-label-spacing: 5px;

/******* RADIO INPUT CONFIG *******/
//NO STYLES



/*=====================================================================================

                     CONFIGURATION -> CHECK BOXES

=====================================================================================*/

$include-checkbox-classes: true;

/*-----------------------------
        HTML LAYOUT
-----------------------------*/

/*
<CHECKBOX GROUP>
    <CHECKBOX CONTROL>
        <INPUT TYPE="checkbox" class="checkbox">
        <FORM CONTROL LABEL>
    </CHECKBOX CONTROL>
</CHECKBOX GROUP>
*/

/******* CHECKBOX GROUP SPACING *************/

//DEFAULT SPACING
$default-checkbox-group-spacing-type: stack;

//ADJACENT CHECKBOX GROUP SPACING
$default-checkbox-group-stack-spacing: $default-field-group-spacing + 10;
$default-checkbox-group-pack-spacing: $default-field-group-spacing + 10;

//STACK & PACK BREAKPOINTS
$default-checkbox-group-stack-breakpoints: xs;
$default-checkbox-group-pack-breakpoints: false;


/******* CHECKBOX CONTROL SPACING (INSIDE CHECKBOX GROUP) *******/

//DEFAULT SPACING
$default-checkbox-control-spacing: stack;

//STACK & PACK SPACING
$default-checkbox-control-stack-spacing: 6px;
$default-checkbox-control-pack-spacing: 5px;

//STACK & PACK BREAKPOINTS
$default-checkbox-control-stack-breakpoints: xs;
$default-checkbox-control-pack-breakpoints: false;


/******* CHECKBOX CONTROL CONFIG *******/
//GENERAL CONFIG
$default-checkbox-control-config: null;

//CURSOR
$default-checkbox-control-cursor: pointer;

//HEIGHT, LINE-HEIGHT & VERTICAL-ALIGNMENT
$default-checkbox-control-height: auto;
$default-checkbox-control-line-height: $base-line-height;
$default-checkbox-control-vertical-alignment: middle;




/******* FORM CONTROL  LABEL CONFIG *******/
$default-checkbox-control-label-config: null;
$default-checkbox-control-label-typography: null;
//SPACING BETWEEN <input type="checkbox"> and LABEL
$default-checkbox-control-label-spacing: 5px;

/******* CHECKBOX IN INPUT CONFIG *******/
//NO STYLES

/*=====================================================================================

                        CORE -> SHARED

====================================================================================*/

%tickbox-input-base-styles{
    padding: 0; 
    margin: 0;
}


.radio-control,
input[type="radio"],
.checkbox-control,
input[type="checkbox"]{
    &, .form-control-label{@extend %tickbox-input-base-styles;}
}


/*=====================================================================================

                        CORE -> RADIO CONTROL

=====================================================================================*/

@if $include-radio-button-classes{

    .fieldset{

        /********** RADIO GROUP SPACING **********/
        @include make-stack($child-name: 'radio-group', $spacing: $default-textbox-field-stack-spacing, $wildcard: '*', $reference-parent: true, $create-spacing-only: true);
        @include make-pack($child-name: 'radio-group', $spacing: $default-textbox-field-pack-spacing, $wildcard: '*', $reference-parent: true, $create-spacing-only: true);
        
  
    }

    .radio-group{

        @extend %field-base-styles;

              /********** RADIO CONTROL SPACING **********/
        @include make-stack($child-name: 'radio-control', $spacing: $default-radio-control-stack-spacing, $wildcard: '*', $reference-parent: true, $create-spacing-only: true);
        @include make-pack($child-name: 'radio-control', $spacing: $default-textbox-field-pack-spacing, $wildcard: '*', $reference-parent: true, $create-spacing-only: true);


        .radio-control,
        .form-control-label{
            @include height($height: $default-radio-control-height, $line-height: $default-radio-control-line-height, $v-align: $default-radio-control-vertical-alignment);
        }

        .radio-control{


            @include style($default-radio-control-config);

            .form-control-label,
            input[type="radio"]{
                cursor: $default-radio-control-cursor;
            }

            .form-control-label{

                @include style($default-radio-control-label-config);
                @include style($default-radio-control-label-typography);
            }

            .form-control-label + .radio,
            .radio + .form-control-label{
                margin-left: $default-radio-control-label-spacing;
            }
        }


    }
}
