.slider-full { width: 940px; margin: 0 auto; padding: 0; position: relative; }
.slider-full .arrow-block { width: 940px; margin: 0 auto; position: relative; }
.rslides { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.rslides li { position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child { position: relative; display: block; float: left; }
.rslides img { display: block; height: auto; float: left; width: 100%; border: 0; }
.callbacks { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; font: 400 18px "myriad-pro-n4", "myriad-pro", sans-serif; font-style: normal; }
.callbacks li { position: absolute; width: 100%; left: 0; top: 0; }
.callbacks img { display: block; position: relative; z-index: 1; height: auto; width: 100%; border: 0; }
.caption_container { /*position: relative;*/ margin: 0 auto; width: auto; z-index: 10; height: auto; /*top: 10%; left: 0; right: 0;*/ background-color: #ccc; /**position:relative;*/ /*IE 7 only*/
}

.callbacks .caption-default { text-align: center; color: #fff; right: 76px; top: 150px; z-index: 2; margin: 0; max-width: none; padding: 0px; position: absolute; /*float: right; padding: 130px 76px 10px 20px;*/ }
.callbacks .caption-top-left  { text-align: center; position: absolute; left: 5%; top: 10%; z-index: 1; }
.callbacks .caption-top-right  { text-align: center; position: absolute; right: 5%; top: 10%; z-index: 1; }
.callbacks .caption-bottom-left { text-align: center; position: absolute; left: 5%; bottom: 2%; z-index: 1; }
.callbacks .caption-bottom-right { text-align: center; position: absolute; right: 5%; bottom: 2%; z-index: 1; }

.callbacks h2 { color: #fff; font: 600 50px/24px Raleway,Arial,Helvetica,sans-serif; margin-bottom:20px; text-transform:uppercase;}
.callbacks p { font:20px/22px Raleway,Arial,Helvetica,sans-serif; font-style: normal; color: #fff; text-transform: uppercase; margin-bottom:23px;}
.callbacks .slider_btn { height: 36px; font: 900 12px/36px "myriad-pro-n9", "myriad-pro", sans-serif; font-style: normal; color: #fff; text-align: center; text-transform: uppercase; display: inline-block; text-decoration: none; background: url(../images/slide-btn-bg.png) repeat 0 0; padding: 0 22px; -webkit-box-shadow: 0 0 1px 1px #666; box-shadow: 0 0 1px 1px #666; margin: 0 auto; margin-top: 12px; float: none; }
.callbacks .slider_btn:hover { background: #192C8D; }
.callbacks_nav { position: absolute; -webkit-tap-highlight-color: rgba(0,0,0,0); top: 51%; left: 5px; z-index: 3; text-indent: -9999px; overflow: hidden; text-decoration: none; height: 82px; width: 23px; background: transparent url(../images/slide-arrows.png) no-repeat left bottom; margin-top: -38px; }
.callbacks_nav:active { opacity: 1.0; }
.callbacks_nav.next { left: auto; background-position: right top; right: 8px; }
.callbacks_tabs { padding: 0; list-style: none; margin: 0px; top: 10px; right: 0px; text-align: center; position: absolute; z-index: 500; }
.callbacks_tabs li { background: url(../images/nav-dot-bg.png) no-repeat 0 -18px; display: inline-block; *display: inline;
zoom: 1; float: none; height: 12px; margin-right: 0px; width: 20px; overflow: hidden; }
.callbacks_tabs li a { margin: 0px; font-size: 12px; display: inline-block; *display: block;
zoom: 1; height: 20px; line-height: 26px; margin: 0; width: 15px; text-indent: -9000px; text-transform: capitalize; }
.callbacks_tabs li a:active { outline: none; background: none; }
.callbacks_tabs li.callbacks_here { background: url(../images/nav-dot-bg.png) no-repeat 0 0; }
.callbacks img.pointer { cursor: pointer; }
 @media only screen and (max-width : 1159px) {
.slider-full { width: 100%; }
.callbacks_nav { left: 8px; }
.callbacks_nav.next { right: 8px; }
/*.caption_container { top: 10%; }*/
}
@media only screen and (max-width : 959px) {
/*.caption_container { top: 7%; width: 100%; }*/
.callbacks h2 { font-size: 50px; line-height: 44px; }
.callbacks_nav { margin-top: -18px; }
.callbacks_nav{ top:46%; }
}
@media only screen and (max-width : 939px) and (min-width : 768px) {
/*.caption_container { top: 7%; width: 100%; }*/

.callbacks .caption-default { top: 100px; right: 50px; }

.callbacks h2 { font-size: 50px; line-height: 44px; }
.callbacks_nav { margin-top: -18px; }
}
@media only screen and (max-width: 767px) {
.caption_container { position: static; margin: 0; /*padding: 22px 14px;*/ width: 100%; color: #444; clear: both; }

.callbacks .caption-default, .callbacks .caption-top-left, .callbacks .caption-top-right, .callbacks .caption-bottom-left, .callbacks .caption-bottom-right { padding: 22px 0 0; text-align: center; width:100%; float: left; position: inherit; }

.cms-index-index .caption_container button.button span span { border: none; }
.cms-index-index .caption_container button.button span { border: 1px solid #d6d6d6 }
.cms-home .slider-container { background: #fff; }
.callbacks_nav,
ul.callbacks_tabs { /*display:none;*/ }
.callbacks_nav { top: 24%; margin: 0; }
ul.callbacks_tabs { }
.callbacks h2 { font-size: 40px; line-height: 36px; color:#000; font-size:30px; margin-bottom:10px;}
.callbacks,
.callbacks p { font-size: 15px; color:#000; margin-bottom:13px;}
.callbacks .slider_btn { background: #828282; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }


/*.callbacks .caption-bottom-right { float: left; padding: 22px 0 0; text-align: center; width: 100%; }
.callbacks .caption-bottom-left { float: left; padding: 22px 0 0; text-align: center; width: 100%; }*/
.callbacks .caption-default{  }


}
@media only screen and (max-width: 480px) {
.callbacks_tabs{ display:none;}
/*	.callbacks_nav,
ul.callbacks_tabs { display:none; }*/
.callbacks_nav { top: 16%; margin: 0; width:13px }
/*.callbacks_nav { top: 17%; width: 12px; }
ul.callbacks_tabs { top: 45%; }*/
}
@media only screen and (max-width : 479px) {
	.callbacks_nav,
ul.callbacks_tabs { /*display:none;*/ }

/*.caption_container { min-height:200px;}
.callbacks_nav { top: 15%; }
ul.callbacks_tabs { top: 40%; }
.cms-home .slider-container img { min-height: 160px; min-width: 360px; }*/
}
@media only screen and (max-width : 359px) {
.callbacks_nav { top: 10%; margin: 0; }
}