// It strips the unit of measure and returns it
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}


// Converts "px" to "em" using the ($)em-base
@function convert-to-em($value)  {
    $value: strip-unit($value) / strip-unit($em-base) * 1em;
    @if ($value == 0em) { $value: 0; } // Turn 0em into 0
    @return $value;
}


/* Working in ems is annoying. Think in pixels by using this handy function, emCalc(#)
Just enter the number, no need to mention "px"*/

@function emCalc($values...) {
    $max: length($values); // Get the total number of parameters passed

    // If there is only 1 parameter, then return it as an integer.
    // This is done because a list can't be multiplied or divided even if it contains a single value
    @if $max == 1 { @return convert-to-em(nth($values, 1)); }

    $emValues: (); // This will eventually store the converted $values in a list
    @for $i from 1 through $max {
        $emValues: append($emValues, convert-to-em(nth($values, $i)));
    }
    @return $emValues;
}


@mixin typeface( $font-name, $weight, $style, $css-class: false, $font-files: false, $eot: false, $size: false, $line-height: false,  $letter-spacing: false, $word-spacing: false){

    //@if $css-class == false {$css-class: $font-name}

    //Load custom font
    @if $font-files{
        $iefont: unquote("#{$eot}?#iefix");

        @font-face {
            font-family: quote($font-name);
            @if $eot {
                src: font-url($eot);
                $font-files: font-url($iefont) unquote("format('embedded-opentype')"), $font-files;
            }
            src: $font-files;
        }
    }

   /* @if $include-typeface-classes {
        %#{$css-class}{
            font-family: quote($font-name);
            font-weight: $weight;
            font-style: $style;

            @if $size {font-size: $size}
            @if $line-height { line-height: $line-height;}
            @if $letter-spacing { letter-spacing: $letter-spacing;}
            @if $word-spacing { word-spacing: $word-spacing;}


        }


    }*/

}



