/*#################################################################################################



                                   PUSHOVER MENU



#################################################################################################*/

/*============================================================== 

                        CONFIGURATION

==============================================================*/

$include-pushover-classes: true;

$pushover-panel-config: null;


$pushover-panel-button-config: null;


$pushover-panel-link-config: null;


/*============================================================== 

              CONFIGURATION -> Dropdown Menu

==============================================================*/
/****** Main Dropdown ******/
$pushover-panel-dropdown-menu-config: margin-bottom 10px;


/****** Main Dropdown BUTTON ******/
$pushover-panel-dropdown-menu-button-config: $default-dropdown-menu-button-config;

$pushover-panel-dropdown-menu-button-border: 1px solid color(medium-gray);

$default-dropdown-menu-active-button-config: padding-left 6%, width 94%;

/****** Sub Dropdown ******/
$pushover-panel-dropdown-submenu-config: $default-dropdown-submenu-config;


/****** Sub Dropdown Button ******/
$pushover-panel-dropdown-submenu-button-config: $default-dropdown-submenu-button-config;

$pushover-panel-dropdown-submenu-active-button-config: $default-dropdown-submenu-active-button-config;

$pushover-panel-dropdown-submenu-button-border: none;






/*============================================================== 

                            CORE

==============================================================*/

.jPanelMenu-panel{background-color: transparent}
