/*==============================================================================

                            CONFIGURATION

==============================================================================*/

/************************** Tab Wrapper Configuration *************************/

$default-tab-wrapper-config: 
margin '0 auto';


/************************** Tab  Configuration *************************/

$default-tab-margin: 0;

$default-tab-config:
class 'round-6px-top',
border (width 1px, style solid, color color(medium-gray)),
font-size 12px,
color color(black),
background-color color(medium-gray),
padding '0 17px 0 17px',
height 25px,
text-decoration none;


$default-active-tab-margin: $default-tab-margin;

$default-active-tab-config: 
background-color color(white),
font-size 12px,
font-weight 700,
text-decoration none;


/************************** Tab Content Configuration *************************/
$default-tab-content-config: 
background-color color(white),
border (width 1px, style solid, color color(medium-gray)),
color color(black),
font-size 12px,
padding '30px 25px';



/*==============================================================================

                                  CORE

==============================================================================*/
.tabs {

    @include style($default-tab-wrapper-config);
    
    .tab{
        @include inline-block();
        &[status="active"]{cursor: default;}
    }
    
    .tab-content{display: block;}
    
}


/*==============================================================================

                                  CUSTOMIZATION

==============================================================================*/

.tabs{
    .tab-list{ background-color: color(beige);border-bottom: 1px solid color(medium-gray);}
    .tab{
        @include height(42px);
        padding: 0 10px;
       
        &[status="inactive"]:hover{
            background-color: color(medium-beige)!important;
            color: color(dark-beige)!important;
        }
        
        &[status="active"],
        &[status="active"]:hover{
            @include border(top right left, 1px solid color(medium-gray));
            background-color: color(white)!important;
            color: color(black)!important;
        }
    }
}


