.checkout-onepage{

    /*#################################################################################################



                               ONE PAGE CHECKOUT -> GENERAL STYLING



    #################################################################################################*/
    .checkout-onepage-header{
        @include use-style(page-heading);

    }


    /*#################################################################################################



                              ONE PAGE CHECKOUT -> CHECKOUT PROGREESS TRACKER



   #################################################################################################*/


    .checkout-onepage-progress-tracker{

        background-image: none;
        background-color: color(white);

        .checkout-onepage-progress-header{
            padding: 0 0 10px 10px;
            border-bottom: 1px solid color(medium-gray);
            margin-bottom: 15px;
        }
        .checkout-onepage-progress-title{
            font-size: 18px;
            color: color(black);

        }

        .checkout-onepage-progress-list {
            .status-complete {

                margin:0;
                padding: 0; 

                //.change-link:before{content:" | ";}

                .change-link{text-decoration: underline}


            }
            .content{ margin: 5px 0 8px 0;}
            .status-pending{margin: 0;}

            .table-data,.content,.change-link{font-size: 11px; color: color(dark-gray)}

            .section-title,
            .status-complete, 
            .status-pending,
            .payment-info-table .table-heading,
            .payment-info-table .payment-method-name
            {font-size: 11px; font-weight: bold; color:color(dark-gray)} 

            .payment-info-table {
                //.table-heading,.payment-method-name{}
            }

        }

    }




    .checkout-onepage-steps-list{

        /*#################################################################################################
   
   
   
                                  ONE PAGE CHECKOUT -> CHECKOUT STEPS 
   
   
   
       #################################################################################################*/

        /*=================================================================

                    CONTAINER STYLES

        =================================================================*/
        .checkout-onepage-step{

            margin: 0;

            .checkout-onepage-step-header{

                text-align: left;
                @include height(22px);
                background: color(light-gray) none;
                padding: 0 14px;

                .section-title{
                    display:inline;
                    text-transform: uppercase; 
                    font-size: 11px; 
                    font-weight: 700; 
                    color: color(dark-gray)
                }
                .step-number{display:none};
                border-top: 1px solid color(white)
            }

            &.active .checkout-onepage-step-header,
            &.active .checkout-onepage-step-title{
                @include use-style(onepage-checkout-orange-gradient);
                @include height(31px);
                color: color(white);
                font-size: 16px;
                font-weight: 400;
                border: none;
            }

            &.allow:not(.active) .checkout-onepage-step-header,
                &.allow:not(.active) .checkout-onepage-step-title
                {
                background-color: color(dark-gray);
                color: color(white);
                cursor: pointer;
            }

            //&.active .checkout-onepage-step-title{border-top: 1px solid color(white)}

        }

        /*=================================================================

                    SHARED STYLES

        =================================================================*/
        .checkout-onepage-step-content{
            background-color: color(light-gray);
            padding: 20px 20px 30px 20px;



            .required-field-notice{text-align: right}
            .continue-button{@include button(cart-button);}
            .back-link{@include height(19px);font-size: 12px; color: color(dark-gray); text-decoration: underline; float: left;}

        }


        /*#################################################################################################
   
   
   
                         ONE PAGE CHECKOUT -> CHECKOUT STEPS -> LOGIN / REGISTER / CHECKOUT AS GUEST
   
   
   
       #################################################################################################*/


        .login-checkout-module {



            /****** MOBILE VIEW ******/
            .login-form{

                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid color(medium-gray);

                .textbox-control{@include text-box(login-form-text-box);}
                .forgot-password-link{color: color(dark-gray); text-decoration: underline; @include height(21px)}
                .login-button{@include button(cart-button); margin-left: 38px; }

            }

            .checkout-options-form{
                .continue-button{margin-left: 129px;}
            }

            .login-form-title,
            .checkout-options-title{
                font-size: 16px;
                margin-bottom: 15px;
            }
            .login-form-subtitle,
            .checkout-options-subtitle{
                font-size: 12px;
                color: color(dark-gray);
                margin-bottom: 15px;
            }


            //.inline-field{width: 240px;}

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                .checkout-options-form{padding-left: 33px;}
                .login-form{
                    border-right: 1px solid color(medium-gray); 
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;

                    .form-actions .column{
                     @include text-box(login-form-text-box);
                    }
                    .login-button{float: right; margin-left: 0}
                }

            }



        }

        /*#################################################################################################
   
   
   
                         ONE PAGE CHECKOUT -> CHECKOUT STEPS -> BILLING & SHIPPING
   
   
   
       #################################################################################################*/

        .checkout-onepage-billing-form,.checkout-onepage-shipping-form{

            /****** MOBILE VIEW ******/
            // @include right-align-form();
            //select{@include use-style(billing-form-select-box)}
            .address-input-fieldset{
                .textbox-control,select{
                  
                @include text-box(billing-form-text-box);
                }

            }
            .radio-input .radio-control{
                @include text-box(billing-form-text-box);
                height: auto;
                text-align: right;
            }
            /*.radio-input, .checkbox-input{
                //.form-control-label{@include make-column(84.586%,$max-width: 361px);@include box-sizing(border-box);}
            } */


            .form-actions .form-controls{
                @include text-box(billing-form-text-box);
                height: auto;
                text-align: right;
            }


            .address-selection-field{
                //margin-bottom: 15px;
                select{width: 86%;}
                //.form-control-label{margin-bottom: 5px;}
            }


            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                /* .radio-input, .checkbox-input{
                     .form-control-label{@include fluid-width(33.5%);}
                 }*/ 
                .radio-input .radio-control{
                    width: 100%;
                    max-width: none;
                    text-align: left;
                }

            }

        }

        /*#################################################################################################
           
           
           
                                 ONE PAGE CHECKOUT -> CHECKOUT STEPS -> BILLING 
           
           
           
        #################################################################################################*/

        .checkout-onepage-billing-form{

            /****** MOBILE VIEW ******/
            // .form-actions .form-controls{@include fluid-width(89%,$max: 382px); text-align: right;}

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                //  .form-actions .form-controls{@include fluid-width(91%,$max: 615px)}
            }
        }

        /*#################################################################################################
           
           
           
                                 ONE PAGE CHECKOUT -> CHECKOUT STEPS -> SHIPPING
           
           
           
        #################################################################################################*/
        .checkout-onepage-shipping-form{

            /****** MOBILE VIEW ******/



            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                // .form-actions .form-controls{@include fluid-width(91%,$max: 615px)}
            }
        }



        .shipping-method-form{

            .gift-section{
                .section-title{font-size: 16px}
            }
            .gift-section-content{
                @include use-style(widget-gradient);
                @include height(300px,$line-height: 16px);
                border: 1px solid color(medium-gray);
                overflow: scroll;

                .section-subtitle{font-size: 14px;}
            }

            .add-gift-for-order-header,
            .add-gift-for-product-header,
            .gift-product .product-count{
                padding: 0 20px;
            }

            .add-gift-for-product-header p{
                @include class(form-row);
                input[type="checkbox"]{@include class(check-box)}
                label{@include class(label);@include class(form-control-label); .price{vertical-align: top;}}
            }

            .gift-product{
                .product-count{font-size: 12px; font-weight: 700; color: color(dark-gray); padding-top: 5px; padding-bottom: 5px;}
                .product-name{margin-top:5px;}
                .col-left,.product-name{text-align: center; font-size: 12px;};
                .section-title,.section-subtitle{color: color(dark-gray); font-size: 12px;}
                .section-title{text-decoration: underline; margin: 0 0 10px 0;}
                > .row:nth-child(2){@include border(top bottom,1px dotted color(dark-gray))}
                .col-right{border-left: 1px solid color(medium-gray); padding: 20px 0 0 35px; margin-left: -1px;}
                .col-left{padding: 20px 0; border-right: 1px solid color(medium-gray);}


            }

            .gift-product:not(:last-child){margin-bottom: 10px;}

            .gift-message-form{
                @include right-align-form(15%);

            }

        }

        /*#################################################################################################
   
   
   
                         ONE PAGE CHECKOUT -> CHECKOUT STEPS -> PAYMENT METHODS
   
   
   
       #################################################################################################*/

        .payment-methods-section{
            .payment-method{
                margin: 0;
                .payment-method-form{
                    @include right-align-form(25%);
                    //.text-box{width: 100%; height: 100%;}

                    .text-box,.select-box{@include text-box(shipping-city-text-box)}
                    .form-control-group{height: auto; width: auto; @include inline-block();}
                    .two-form-controls > *{width: 124px;}


                }
                .credit-card-form{
                    .text-box.cc-cvv-text-box{@include text-box(qty-text-box); display: inline-block}
                    .cvv-help-link{text-decoration: underline; font-size: 11px;margin-left: 5px;}
                }
            }
            .checkout-onepage-payment-additional-giftcardaccount .note{
                margin: 10px 0;
                font-size: 12px;
                color: color(dark-gray);
                a{text-decoration: underline; color: inherit; font-size: inherit}
            }
        }

        /*#################################################################################################
   
   
   
                         ONE PAGE CHECKOUT -> CHECKOUT STEPS -> ORDER REVIEW
   
   
   
       #################################################################################################*/

        .checkout-onepage-order-review-section{
            .order-review-content {padding: 0;}
            .footer{
                padding: 15px 20px;
                .edit-cart-module{color: color(dark-gray); float: left; font-size: 12px; .link{text-decoration: underline}}
                .place-order-button{
                    float: right;
                }
                .place-order-button{@include button(cart-button);}
            }
        }





    }

}


        /*#################################################################################################
   
   
   
                        FROM MODULES/data_tables.scss
   
   
   
       #################################################################################################*/


.data-table{

    width: 100%;




    &.checkout-onepage-order-review-table {
        .table-heading{
            width: 10%;
            &:nth-child(1){width: 70%; text-align: left; padding-left: 20px;}
        }

        .totals-section{
            .sub-total-label{

            }
        }

    }

    &.checkout-onepage-order-review-table .table-body .table-data,
    &.checkout-onepage-order-review-table .table-header .table-data
    {
        font-size: 12px;
        text-align: center;
        height: 45px;
    }

    &.cart-items-table{
        width:100%;

        .table-body .table-data{

            /****** MOBILE VIEW ******/
           

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                 text-align: center;
            }



        }



    }




}