.homepage-banner-module{
    .image,.image-link{
        width: 100%;
        @include breakpoint(sm){
            width: auto;
        }
    } 
}
.homepage-side-banner-module{

    text-align: center;

    .image-link{
        vertical-align: top;

        @include breakpoint(sm){
            display: block;
        }

        @include breakpoint(sm){
            &:first-child{margin-top: 10px;}
              margin-left: 5px;
            margin-right: 5px;

        }


    }
    .image-link{
        @include breakpoint(sm){
          
        }
    }

}

.homepage-main-banner-module{
    text-align: center;
}