<?php 
/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */


//If there are sub categories
$categories = $this->getCurrentChildCategories();
$categoriescount = count($categories);
$catmediaurl=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
$placehoder=Mage::getModel('catalog/product')->getSmallImageUrl(220,160);

if ($categoriescount > 0): 
?>
<ul class="catblocks">	
	<?php 	//Loop through categories
	foreach ($categories as $category):?>
        <li>
			<a href="<?php echo $this->getCategoryUrl($category)?>"><?php                   
				// If there is a thumbnail set for the category - Display it
				$imgUrl = Mage::getModel('catalog/category')->load($category->getId())->getThumbnail();		    
						if($imgUrl!=''):?> 
						    <img src="<?php echo $catmediaurl."catalog/category/".$imgUrl ?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />				  
				  <?php else: //else display placehoder?>
				            <img src="<?php echo $placehoder ?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />
				  <?php endif; ?>
			</a>
			<div class="catblocklinks">
				<a href="<?php echo $this->getCategoryUrl($category)?>" class="sub-link"><?php echo $category->getName()?></a>
			</div>
        </li>
 
<?php endforeach; ?>
</ul>
<?php endif; ?>
