/*#################################################################################################



                         GLOBAL STYLES FOR PRODUCT (TABULAR VIEW)



#################################################################################################*/

.data-table{

    .table-body{


        .product {
            margin: 15px 0;
            .product-name{
                padding-left: 20px;
                font-size: 12px;
                .product-name-link{text-decoration: underline; color: color(dark-gray)}
                text-align: left;
            }

        }



        .edit-product-link,
        .remove-product-link
        {font-size: 11px; color: color(light-blue); text-decoration: none; margin-left: 6px;}

        .product-image-link{text-align: center;}

        .price-tag-container{
            @include inline-block();
            .price-amount{font-size: 12px;}
        }
        
    }


    &.grouped-items-table .product-qty,
    &.cart-items-table .product-qty-module{


        /****** MOBILE VIEW ******/
        font-size: 12px;
        color: color(dark-gray);
        text-align: left;

        /****** TABLET VIEW ******/
        @include breakpoint(sm){
            text-align: center;
        }

    }

}






/*#################################################################################################



                                PDP -> GROUPED PRODUCTS TABLE



#################################################################################################*/
.grouped-items-table{

    max-width: 414px;
    margin: 0 auto;
    border: 1px solid color(medium-gray);


    .table-heading:first-child,
        .table-data:first-child{
        width: 50%; 
    }

    .product-price-table-heading,
    .product-qty-table-heading,
    .table-data:nth-child(2),
        .table-data:nth-child(3){
        width: 25%;
        text-align: center;
    }
    //.product-name-table-heading{}

}

/*#################################################################################################



                                PDP -> PRODUCT SPECS TABLE



#################################################################################################*/

.product-attribute-specs-table{
    margin: 0 auto;

    border: 1px solid color(medium-gray);
    
    .table-heading{width: 107px;  background: color(light-gray) none;   }

    .table-row:not(:last-child){border-bottom: 1px solid color(white);}
}

/*#################################################################################################



                               CHECKOUT CART  -> CART ITEMS TABLE



#################################################################################################*/

.cart-items-table {

    /****** MOBILE VIEW ******/
    .table-heading{
        &:nth-child(2){text-align: left}
    }

    .table-body{
        .product-configuration-module{
            text-align: left;
            .product-configuration-name{font-weight: bold;}
        }

        .price-tag{
            margin: 5px 0;
            .price-amount,.price-label{
                font-size: 12px; color: color(dark-gray);

            }
        }

        .product-name .link{
            font-weight: bold;
        }

        .product-data-module,.product .product-name{
            padding-left: 20px;
        }

        .product-data-module .product-module{
            @include height(25px);
            .label.visible-xs{font-weight: bold; margin-right: 5px;}

            &.remove-product-module{
                .remove-product-link{margin-left: 5px;}
            }
        }

    }

    .table-footer{
        background-color: color(light-gray);
        &,.table-data:first-of-type{@include height(auto,$min-height: 42px, $line-height: 42px);}

        padding: 10px 0;

        .continue-shopping-link{@extend %gray-link-with-underline;}

        .table-data:nth-child(2){
            text-align: center;
            @include height(auto,$min-height: 42px, $line-height: 27px);
        }

    }


    /****** TABLET VIEW ******/

    .table-body{
        .product-data-module,.product .product-name{
            @include breakpoint(sm){
                padding-left: 0;
            }
        }

        .price-tag{margin: 0;}

    }


    .table-footer{
        .table-data:nth-child(2){

            @include breakpoint(sm){
                text-align: right;
                //.update-cart-button{margin-bottom: 0;}
                @include height(42px,$line-height: 42px)

            }
        }
    }



    /****** DESKTOP VIEW ******/
    //NO STYLES
}


/*#################################################################################################



                            ONE PAGE CHECKOUT  -> ORDER REVIEW TABLE



#################################################################################################*/

.checkout-onepage-order-review-table {
    .price-amount{font-size: 12px; color: color(dark-gray);}
    .totals-section{
        .sub-total-label{@include height(30px); text-align: right; padding-right: 20px}
    }
    .product{
        height: 50px;
        &:nth-child(odd){background-color: white}
        &:nth-child(even){background-color: color(light-gray);}
    }
}