
/*------------------------------------------------------------------------------ 

                       PRODUCT CONTAINER STYLES

------------------------------------------------------------------------------*/

.category-product-list.grid-view{
    /*------- MOBILE VIEW ------*/
    text-align: center;



    /*------- TABLET VIEW ------*/
   


    /*------- DESKTOP VIEW ------*/
}

.category-product-list.grid-view .product{
    /*------- MOBILE VIEW ------*/
    width: 94%;
    margin: 0 auto 25px auto;
    border: 1px solid color(light-gray);
    padding: 20px;
    max-width: 246px;
    
    // vertical-align: top;



    /*------- TABLET VIEW ------*/
    @include breakpoint(sm){
       
        width: 43%;
        padding: 0;
        margin-right: 2.3%;
        @include include(nth-child(2n)){margin-right: 0}
        border: none;
    }


    /*------- DESKTOP VIEW ------*/
    @include breakpoint(md){
        width: 23%;
        margin-right: 2%;
        @include include(nth-child(2n)){margin-right: 2%}
        @include include(last-child){margin-right: 0}
    }


}

.category-product-list.list-view .product{

    /*------- MOBILE VIEW ------*/
    &:not(:last-child) {border-bottom: 1px dotted color(medium-gray);}
    padding-bottom: 26px;

    .col-right{padding-left: 19px;}
    .col-left{text-align: center}

    /*------- TABLET VIEW ------*/
    @include breakpoint(sm){
        .col-right{padding-left: 0;}
    }

    /*------- DESKTOP VIEW ------*/
}


/*------------------------------------------------------------------------------ 

                             PRODUCT NAME

------------------------------------------------------------------------------*/
.category-product-list .product-name{
    margin:5px 0 8px;
    line-height: 20px;
    padding: 0 10px;
    .link{text-decoration: none;text-transform: uppercase;}
}

.category-product-list.grid-view .product-name{
    /*------- MOBILE VIEW ------*/
    .link{
        font:{size: 12px; weight: 500;};
        color: color(dark-beige);
    }
    
    

    /*------- TABLET VIEW ------*/


    /*------- DESKTOP VIEW ------*/
}

.category-product-list.list-view .product-name{

}

/*------------------------------------------------------------------------------ 

                           PRODUCT IMAGES

------------------------------------------------------------------------------*/

.category-product-list .product-image-container{

    /********** MOBILE VIEW **********/
    text-align: center;
    .product-image-link{border-bottom: none }
    //.product-image{max-width: 230px;}

    /********* TABLET VIEW **********/

    /********** DESKTOP VIEW **********/
}

/*------------------------------------------------------------------------------ 

                           PRODUCT PRICE

------------------------------------------------------------------------------*/
.category-product-list.grid-view .price-tag{
  //  margin: 4px 0 10px 0;
}
.category-product-list.list-view .price-tag-container{margin: 5px 0 10px 0;}


/*------------------------------------------------------------------------------ 

                          PRODUCT ACTIONS

------------------------------------------------------------------------------*/

//ADD TO WISHLIST & ADD TO COMPARE LINKS
.category-product-list .add-to-actions .link{
    .link{color: #999999;}
    .add-to-wish-link, .add-to-compare-link{display: block; }
}

/*------------------------------------------------------------------------------ 

                         PRODUCT DESCRIPTION

------------------------------------------------------------------------------*/
.category-product-list .short-description{
    font-size: 12px;
    text-align: left;
    margin-bottom: 8px;
    line-height: 16.2px;
    padding-right: 20px;
    color:color(dark-gray);
    .learn-more-link{font-size: 12px; }
}

/*------------------------------------------------------------------------------ 

                         RATINGS & REVIEWS

------------------------------------------------------------------------------*/

.category-product-list .ratings-reviews{

    /****** MOBILE VIEW ******/
    margin-bottom: 10px;
    //@include height($height: 26px, $line-height: 13px);
    /*.rating-review-links,*/ .rating-box{@include inline-block();}

    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        @include height(13px);
    }


    /****** DESKTOP VIEW ******/
}

.category-product-list.list-view{
    .rating-box{margin-right: 15px}
}


