.product-view{

    /*------------------------------------------------------------------------------ 

                                 SHARED STYLES

    ------------------------------------------------------------------------------*/

    /****** MOBILE VIEW ******/
    .product-name,
    .ratings-reviews,
    .product-availability-status,
    .price-tag-container{
        text-align: center;
    }


    /****** TABLET VIEW ******/
    @include breakpoint(sm){

        .product-name,
        .ratings-reviews,
        .product-availability-status,
        .price-tag-container{
            text-align: left;
        }

    }

    /****** MOBILE VIEW ******/

    /*------------------------------------------------------------------------------ 
    
                           PRODUCT CONTAINER STYLES
    
    ------------------------------------------------------------------------------*/


    /*------------------------------------------------------------------------------ 
    
                                 PRODUCT NAME
    
    ------------------------------------------------------------------------------*/
    .product-name{font-size: 24px; color: color(blue); font-weight: normal;text-transform: uppercase;}


    /*------------------------------------------------------------------------------ 
    
                               PRODUCT IMAGES
    
    ------------------------------------------------------------------------------*/
    .product-image-module{

        text-align:center;  
        padding-top: 30px;
      

    }

    /*------------------------------------------------------------------------------ 
    
                               PRODUCT PRICE
    
    ------------------------------------------------------------------------------*/
    .price-amount{font-weight: 700;}

    .special-price .price-label, .special-price .price-amount{font-size: 14px;}
    .old-price .price-label, .old-price .price-amount{font-size: 11px;}

   

    .tier-price-list, .grouped-tier-price-list {
        .tier-price{
            padding: 0 30px;
            font-size: 11px;
            padding: 8px;
            background-color: color(rose-pink-light);
            border: 1px solid color(medium-gray);
            color: color(dark-gray); 
            width: auto;
            text-align: center;
            margin:{
                top: 20px;
                right: 20px;
                left: 20px;
            }
            
            .tier-price-benefit,.price{font-weight: bold;}
        }
    }


    /*------------------------------------------------------------------------------ 
    
                              PRODUCT ACTIONS
    
    ------------------------------------------------------------------------------*/

    /****** MOBILE VIEW ******/

    .cart-button{
        width: 105px;
        @include height(40px);
        font-size: 12px;
        margin: 20px 0;
    }

    .add-to-actions {
        .link{color: #999999; line-height: 20px;}
    }

    .main-content .add-to-actions{ 
        padding: 20px 0 0; 
        text-align: center;
    }

    .bundle-product-view .add-to-links{margin: 10px 0;}



    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        .main-content .add-to-actions{ 
            padding: 30px 30px 0;
            text-align: left;
          
        }

        .add-to-link-list{margin-left: 10px;}
    }


    /****** DESKTOP VIEW ******/
    //NO STYLES

    /*------------------------------------------------------------------------------ 
    
                             PRODUCT QUANTITY
    
    ------------------------------------------------------------------------------*/
    .product-qty{
     
        .form-control-label{color: color(dark-beige); text-transform: uppercase; font-weight: no0rmal;margin-left: 5px;}
        .textbox{width: 40px; height: 30px;text-align: center;}

    }

    /*------------------------------------------------------------------------------ 
    
                                     PRODUCT SKU
    
    ------------------------------------------------------------------------------*/
    .product-sku{display: none}

    /*------------------------------------------------------------------------------ 
    
                             PRODUCT AVAILABILITY
    
    ------------------------------------------------------------------------------*/
    .product-availability-status{
        margin-bottom: 10px;
        .label{font-size: 12px;}

    }

    /*------------------------------------------------------------------------------ 

                             PRODUCT DESCRIPTION

    ------------------------------------------------------------------------------*/
    .product-short-description{padding-left: 30px;}


    /*------------------------------------------------------------------------------ 
    
                             RATINGS & REVIEWS
    
    ------------------------------------------------------------------------------*/
    .ratings-reviews{
        @include height($line-height: 13px, $height: 13px);
        // .rating-review-links, .rating-box{@include inline-block();}
    }
    .main-content .ratings-reviews{margin: 12px 0;}

    /*------------------------------------------------------------------------------ 
  
                            PRODUCT CONFIGURATION
  
    ------------------------------------------------------------------------------*/
    .product-configuration-module{
        padding: 20px 30px 0;
        .product-configuration-input{width: 251px;}
        .product-configuration-name{font-weight: bold; margin-bottom: 10px;}
        .column{@include height(20px)}
    }

    .product-custom-configuration-module{
        .product-configuration-list{
           //margin-bottom: 30px;
        } 
    } 
}