/*==============================================================================

                               CSS BREAKPOINT CONFIGURATION

===============================================================================*/

$active-breakpoints:  xs sm  md lg;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
//$screen-xs:                  320px !default;
$screen-xs-min:              0 !default;
//$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
//$screen-sm:                  320px !default;
$screen-sm-min:              480px !default;
//$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
//$screen-md:                  768px !default;
$screen-md-min:              768px  !default;
//$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
//$screen-lg:                  1200px !default;
$screen-lg-min:              960px !default;
//$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


/*==============================================================================

                               CORE CONFIGURATION

===============================================================================*/

@mixin breakpoint($size, $media: screen){
    @if $media  == screen{
        /*@if $size == xs{
            @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
                @content;
            }
        }
        @else if $size == xs-only{
            @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
                @content;
            }
        }*/
        @if $size == xs{
            @media screen and (min-width: $screen-xs-min) {
                @content;
            }
        }
        @else if $size == xs-only{
            @media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
                @content;
            }
        }
        @else if $size == sm{
            @media screen and (min-width: $screen-sm-min) {
                @content;
            }
        }
        @else if $size == sm-only{
            @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                @content;
            }
        }
        @if $size == md{
            @media screen and (min-width: $screen-md-min) {
                @content;
            }
        }
        @else if $size == md-only{
            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                @content;
            }
        }
        @else if $size == lg{
            @media screen and (min-width: $screen-lg-min){
                @content;
            }
        }
        @else{
            /*@media screen and (min-width: $screen-#{$size}-min) and (max-width: $screen-#{$size}-max){
                @content;
            }*/
        }

    }
}