

.newsletter-subscribe-form{

    /************* MOBILE VIEW ***************/

    text-align: center;
    margin: 20px 0 0;
    .form-actions{
        margin-left: 0;
        .newsletter-subscribe-button{
            font-size: 13px; 
            @include height(30px,$line-height: 27px); 
            width: 87px; 
            
            [caret]{margin: -3px 0 0 5px}
        }

    }


    .textbox-field{
        text-align: left;
        .form-control-label{
            //margin-bottom: 8px; 
            font: {size: 11px; } 
            color: color(blue); 
            text-transform: uppercase;
            line-height: 19px;
        }

        .textbox-control{
            margin-top: 5px;
            .textbox{
                width: 203px;
                @include height(30px);
            }
        }

    }



    /************* TABLET VIEW ***************/
    @include breakpoint(sm){

        margin: 0;
        .form-actions{text-align: right}
    }

    /************* DESKTOP VIEW ***************/

}


