/*============================================================================== 

                    GLOBAL STYLES (APPLICABLE TO ALL TOOLBARS)

===============================================================================*/
.toolbar{

    /******* MOBILE VIEW *******/





    /******* TABLET VIEW *******/


    /******* DESKTOP VIEW *******/
    //NO STYLES




}
/*============================================================================== 

                             CLP -> TOOLBAR

===============================================================================*/
.category-view .toolbar,
.catalogsearch-result-index .toolbar{

    /****** MOBILE VIEW *******/
    display: block;
     .toolbar-section{
        @include height(30px, $align-children: true);
    }
    
    .skinny-select{border-width: 0;}
    .col-right{text-align: right;}

    &.toolbar-top{margin: 20px 0 27px;}


    .sorter-widget{

        .skinny-select{width: 85px;}
    }

    .label{font-size: 11px;text-transform: uppercase}

    .limiter-widget {
        .skinny-select{width: 53px;}

    }

    /******* TABLET VIEW *******/


    /******* DESKTOP VIEW *******/
        @include breakpoint(md){
        .col-left{text-align: right; }
        .col-right{text-align: left;}

        .pager-widget .col-left,
        .pager-widget .col-right{text-align: left}
        
        .skinny-select{border-width: 1px;}
        .view-mode-widget{text-align: center}
    }
}

/*============================================================================== 

                     MY ACCOUNT -> MY ORDERS -> TOOLBAR

===============================================================================*/
.my-account-orders-section .pager-toolbar{
    // @include border(left right, 1px solid color(medium-gray));
}