.totals-table{
    /*------------------------------------------------------------------------------ 
        
                                GLOBAL STYLES
        
    ------------------------------------------------------------------------------*/
    .label{
        text-align: right;
        //padding-right: 28px;
    }
    .label,.price{color: color(dark-gray);}
    .grand-total-price-amount{font-weight: 700;}
    .table-data{padding-top: 10px; padding-bottom: 10px;}

    /*------------------------------------------------------------------------------ 
        
                         CHECKOUT CART -> TOTALS TABLE
        
    ------------------------------------------------------------------------------*/
    &.cart-totals-table{
        @include inline-block;
        
        

        .label,
        .price-amount{
            font-size: 14px;
        }
        //.price-amount{text-align: left;}

        .grand-total-label,
        .grand-total-price-amount .price{
            color: color(orange);
            font-size: 18px;
        }

    }

    /*------------------------------------------------------------------------------ 
        
                         ONEPAGE CHECKOUT -> TOTALS TABLE
        
    ------------------------------------------------------------------------------*/
    &.checkout-onepage-order-review-totals-table{
        .label,.price{font-size: 12px;}
        background-color: #EDEDED;
        @include border(top bottom, 1px solid color(medium-gray));
        
        .grand-total-label,
        .grand-total-price-amount .price{
            color: color(dark-gray);
            font-size: 14px;
        }
        
        .price-amount{padding-right: 20px;}
    }
}