/*#############################################################################

                            LANGUAGE SWITCHER

#############################################################################*/
.language-switcher{ 
    /****** MOBILE VIEW ******/
    text-align: center;
    .list-item{ @include height(28px);}
    .current-language{font-size: 11px; } 
    &,.language-switch, .language-switch .link{font-size: 11px; font-weight: bold; color: color(white)}

    .caret-down{@include use-style(white-4px-down-caret);}

    /**************** CONFIGURATION -> DROPDOWN MENU ***************/

    .language-switch{
        @include dropdown-menu(
        $menu-width:100px,
            $menu-top:$default-dropdown-menu-top,
            $menu-left: $default-dropdown-menu-left - 80, 
            $menu-radius:$default-dropdown-menu-radius-class,
            $menu-config: $default-dropdown-menu-config,

            $menu-button-config: (class 'global-nav-dropdown-button', text-align center),
            $menu-active-button-config: $default-dropdown-menu-active-button-config,


            $submenu-width:$default-dropdown-submenu-width,
            $submenu-top:$default-dropdown-submenu-top, 
            $submenu-left: $default-dropdown-submenu-left, 
            $submenu-radius:$default-dropdown-submenu-radius-class,
            $submenu-config: $default-dropdown-submenu-config,

            $submenu-button-config: $default-dropdown-submenu-button-config,
            $submenu-active-button-config: $default-dropdown-submenu-active-button-config

            );
    }



    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        text-align: right;
    }

    /****** DESKTOP VIEW ******/
    //NO STYLES
}