.layered-nav{
    color: color(dark-gray);
    @include no-gradient();
    padding-bottom: 0;

    .list-item{margin: 0}
    
    
    .widget-content{padding:0; margin: 0;}
    
    .layered-nav-title{font-size: 14px;  margin: 0; }
    .layered-nav-subtitle{display: none}

    .applied-filters{
        @include border(top bottom, 1px solid color(medium-gray));
        
        padding: 10px 10px 10px 17px;
        .applied-filters-title{font:{size: 11px; weight: 700}; padding: 0;}

        .filter-name{ color: color(orange); margin-right: 5px;}
        .filter-value{font-size: 11px;}
    }

    .widget-actions, .applied-filters{
        background-color: color(light-gray);
    }
    .widget-actions{
        text-align: right;
        padding: 5px 7px;
        margin: 0;

    }
   
}
