

.newsletter-subscribe-form{

    //margin: 0 0 0 17px;

    .form-actions,.form-control-label{
        text-align: center;
    }
    
    .form-control-label{
        //margin-bottom: 8px; 
        font: {size: 11px; weight: 700;} 
        color: color(orange); 
        text-transform: uppercase;
    }

    .textbox-control{
        @include text-box(newsletter-subscribe-textbox);
       // @include property(margin,left right, auto);
        //margin: 0 auto;
    }


    .button{
        @include button(cart-button);
    }

    //.newsletter-form-controls{ width: 183px;}




    @include breakpoint(sm){
      
        .textbox-control{float: right}
        .form-control-label{
            width: 224px;
            text-align: left;
            float: right;
        }
        .form-actions{text-align: right}
    }

}


