.global-site-notice{
    @include height(40px);
}

.messages{
    .icon-column{text-align: right; padding-right: 10px; max-width: 25px;}
    
   // padding:10px 0;
    

    .success-msg, .reward-msg{
        padding: 10px;
        font-size: 12px;
    }

    .success-msg{
        background-color: color(success);
        border: 1px solid #446423;
        color: #3D6611;
    }
    .reward-msg{
        background-color: #D55721;
        > * , a{background-color: #D55721; color: color(white);}
        a{text-decoration: underline}
    }
    
    .regular-msg{

    }
}


.required-field-notice{font-size: 11px; color: color(orange)}

.category-view {

    .messages{
        text-align: center;
  

        li{
            width: 532px;
            display: inline-block;
            text-align: left;
            margin: 0;
        }
    }
}