/*------------------------------------------------------------------------------ 

                               CONFIGURATION

------------------------------------------------------------------------------*/
/****** Main Dropdown ******/
$default-dropdown-menu-config: background-color color(white), border (width 1px, style solid, color color(medium-gray)), padding 10px;

$default-dropdown-menu-width: 160px;
$default-dropdown-menu-top:100%;
$default-dropdown-menu-left:0;
$default-dropdown-menu-radius-class: round-4px;

/****** Main Dropdown BUTTON ******/
$default-dropdown-menu-button-config: 
color color(orange);

$default-dropdown-menu-active-button-config: bull;

/****** Sub Dropdown ******/
$default-dropdown-submenu-config: $default-dropdown-menu-config;

$default-dropdown-submenu-width: 200px;
$default-dropdown-submenu-top:5px;
$default-dropdown-submenu-left:158px;
$default-dropdown-submenu-radius-class: $default-dropdown-menu-radius-class;

/****** Sub Dropdown Button ******/
$default-dropdown-submenu-button-config: 
color color(orange);

$default-dropdown-submenu-active-button-config: null;
/*------------------------------------------------------------------------------ 

                                   CORE

------------------------------------------------------------------------------*/



@mixin dropdown-menu(
$menu-width:$default-dropdown-menu-width,
$menu-top:$default-dropdown-menu-top,
$menu-left: $default-dropdown-menu-left, 
$menu-radius:$default-dropdown-menu-radius-class,
$menu-config: $default-dropdown-menu-config,

$menu-button-config: $default-dropdown-menu-button-config,
$menu-active-button-config: $default-dropdown-menu-active-button-config,


$submenu-width:$default-dropdown-submenu-width,
$submenu-top:$default-dropdown-submenu-top, 
$submenu-left: $default-dropdown-submenu-left, 
$submenu-radius:$default-dropdown-submenu-radius-class,
$submenu-config: $default-dropdown-submenu-config,

$submenu-button-config: $default-dropdown-submenu-button-config,
$submenu-active-button-config: $default-dropdown-submenu-active-button-config

){

    %dropdown-menu-base-styles{
        position: absolute;
        z-index: 1;		
        opacity: 0;
        visibility: hidden;
    }

    %dropdown-menu-make-visible{
        opacity: 1;
        visibility: visible;
    }


    &[dropdown-menu]{

        overflow: visible;
        position: relative;

        &:hover {
            > .dropdown-menu {@extend %dropdown-menu-make-visible;}
        }

        .dropdown-menu{


            /****** SHARED STYLES FOR MENU & SUBMENU NAV-CRUMBS ******/
            .dropdown-menu-nav-crumb,
            .dropdown-submenu-nav-crumb{
                display: block; 
                position: relative;
                @include box-sizing(border-box);
                &:hover{
                    .dropdown-menu {
                        @extend %dropdown-menu-make-visible;				
                    }
                }
            }

            /****** STYLES FOR MENU NAV-CRUMB ******/
            //NO STYLES


            /****** STYLES FOR SUBMENU NAV-CRUMB ******/
            //NO STYLES


            /****** SHARED STYLES FOR MENU & SUBMENU BUTTONS ******/
            .dropdown-menu-button,
            .dropdown-submenu-button{
                 @include box-sizing(border-box);
            }


            /****** STYLES FOR MENU BUTTON ******/
            .dropdown-menu-button{
                @include style($menu-button-config);
                &:hover{ + .dropdown-submenu{@extend %dropdown-menu-make-visible;}}
            }


            /****** STYLES FOR SUBMENU BUTTON ******/
            .dropdown-submenu-button{@include style($submenu-button-config);}


            /****** STYLES FOR DROPDOWN MENU ******/

            margin: 0;
            padding: 0;

            @extend %dropdown-menu-base-styles;
            @include use-style($menu-radius);
            @include style($menu-config);

            top: $menu-top; 
            left: $menu-left;
            width: $menu-width;




            /****** STYLES FOR DROPDOWN SUBMENU ******/
            .dropdown-submenu{
                @extend %dropdown-menu-base-styles;
                @include use-style($submenu-radius);
                top: $submenu-top; 
                left: $submenu-left;
                width: $submenu-width;
                &:hover{@extend %dropdown-menu-make-visible;}

                @include style($submenu-config);

            }

        }
    }
}