/* BreadCrumbs */
/* line 2, ../sass/breadcrumbs.scss */
.breadcrumbs {
  font-size: 12px;
  color: #999;
  font-weight: 500;
  line-height: 12px;
  margin: 0;
  padding: 16px 0;
  text-align: left;
  text-transform: uppercase;
}

/* line 3, ../sass/breadcrumbs.scss */
.breadcrumbs li {
  display: inline;
}

/* line 6, ../sass/breadcrumbs.scss */
.breadcrumbs a:hover {
  text-decoration: underline;
}
