@charset "utf-8";
/* CSS Document */
@media only screen and (max-width : 959px) {

html { -webkit-text-size-adjust: none; }
.demo-notice .notice-inner p { background-position: 0 1px; padding: 34px 0 0; margin: 9px 0; width: 65%; line-height: 12px; text-align: left; }
.demo-notice ul.social-media-links { margin: 24px -8px 0 0; }
.header-panel { clear: left; }
.cms-home .homepage-image-carousel { margin-top: 0px; }
.footer-container { margin: 0; width: 748px; }
.footer-container .footer { width: 748px; }
.footer-container .footer > div { margin: 0 20px }
.footer-container .footer .social-links { float: right; margin: 0; }
.footer-container .footer #newsletter-validate-detail { clear: left; display: block; float: left; margin: 30px 0 0; }
.footer-container .footer .form-subscribe { float: left; padding: 0 0 0 20px; width: auto; }
.cms-home .home-new-products ul.products-grid li { width: 178px; }
.products-grid li .product-image-block { height: auto; padding: 10px 0; }
.col-main { width: 585px; }
.products-grid li.item { width: 182px }
.sidebar.col-right { float: left; width: 100%; }
.sidebar.col-left .block-layered-nav { border-bottom: none; }
.catblocks li { width: 172px; }
.product-view { width: 748px; }
.product-view form#product_addtocart_form { width: auto; }
.product-view .product-shop { width: 365px; }
.product-main-info .product-name { width: 290px; }
.customer-account-login .account-login .new-users { padding-right: 0px; margin-right: 69px; width: 347px }
.customer-account-login .account-login .registered-users { padding-right: 0; width: 277px }
.enterprise-giftregistry-search .form-list .input-box { width: 95%; }
.enterprise-giftregistry-search .form-list input.input-text,
.enterprise-giftregistry-search .form-list textarea { width: 86%; }
.cms-page-view .col-main .page-head,
.cms-page-view .col-main .page-head-alt { margin: 0; }
.cms-page-view .col-main std { width: 100% }
.cms-page-view .col-main .col-2 img { width: 100%; }
.cms-page-view .col2-left-layout { position: relative; }
.cms-page-view .col-main { width: 570px; }
.cms-page-view .col2-set .col-2 img { padding: 0 !important; }
.customer-account-login .account-login .form-list li.note { padding-right: 0; width: 100% !important; }
.customer-account-forgotpassword p.required,
.customer-account-create p.required { width: 100%; }
.customer-account-forgotpassword .form-list input.input-text { width: 70%; }
.customer-account-forgotpassword .form-list .input-box { width: 100%; padding-right: 0 }
.customer-account-forgotpassword .form-list div.validation-error { background-position: 75% 2px; }
.checkout-cart-index .cart .totals,
.checkout-cart-index .cart .cart-collaterals,
.customer-account-edit .my-account .form-buttons,
.customer-account-edit .my-account p.required,
.customer-address-form .my-account .form-buttons,
.customer-address-form .my-account p.required { width: 100%; }
.checkout-cart-index .cart .crosssell .item { width: 29%; margin: 0 2% 20px }
.cart .crosssell .item img { width: 100%; height: auto }
.checkout-cart-index .cart .crosssell .product-shop { width: 100%; padding: 10px 0 }
.checkout-cart-index .cart .shipping ul.form-list li.shipping-city { clear: none; }
.checkout-cart-index .cart .giftcard button.check-gc-status { width: 64%; text-align: left; }
.customer-my-account .col2-left-layout .col-main { width: 545px; margin-left: 20px; }
.customer-my-account .col-left { width: 175px; margin-right: 0; }
.newsletter-manage-index .form-buttons { width: 100%; }
.review-customer-view .product-review .product-img-box,
.review-customer-view .product-review .details { width: 50%; }
.review-customer-view .product-review .product-img-box img { width: 80%; max-width: 285px; height: auto }
.sales-order-history .data-table th { padding: 10px 8px; }
.sales-order-history .data-table td { padding: 5px 8px; }
.sales-order-history .data-table tr.last td { padding: 5px 8px 12px; }
.enterprise-giftregistry-index-addselect .form-buttons,
.enterprise-giftregistry-index-addselect p.required,
.enterprise-giftregistry-index-edit .form-buttons,
.enterprise-giftregistry-index-addselect p.required,
.enterprise-giftregistry-index-addselect .form-list .validation-advice { width: 100%; }
.enterprise-giftregistry-index-addselect .form-list .validation-advice { margin-right: 0; }
.enterprise-giftregistry-index-share .form-buttons,
.enterprise-giftregistry-index-share p.required,
.enterprise-giftregistry-index-edit p.required { width: 100%; }
/* Checkout Page - Renjith */
.checkout-onepage-index .opc,
.checkout-onepage-index .opc .step,
.checkout-onepage-index .opc .active .step-title { width: 99% !important; }
.checkout-onepage-index .opc li.section { float: none; width: 75% }
.checkout-onepage-index .opc .form-list .input-box,
.checkout-onepage-index .opc .form-list .input-text { width: 90% !important }
.checkout-onepage-index .col-main { overflow: hidden; }
.checkout-onepage-index .opc-progress-container { padding-left: 3%; width: 22%; padding-top: 0px; margin-top: 85px; }
.checkout-onepage-index #checkout-step-login .col2-set .col-1,
.checkout-onepage-index #checkout-step-login .col2-set .col-2 { width: 40%; float: left; padding: 0 5% 0 0%; }
.checkout-onepage-index #checkout-step-login .col2-set { padding: 0px; }
.checkout-onepage-index .opc .active .step-title h2 { padding-left: 0px; }
.checkout-onepage-index #checkout-step-login .col2-set .col-2 { width: 49%; padding-left: 5%; padding-right: 0px; }
.checkout-onepage-index #checkout-step-login .col2-set h4 { font-size: 18px; }
/*PDP*/
#social_facebook_block { margin: 35px 0px 0px 0px!important; float: none !important; }
.col-main .product-view .box-collateral { float: left; width: 100%; }
.box-up-sell { width: 100% !important; }
.product-view .box-up-sell .products-grid li { width: 32%; }
.product-view .box-tags { width: 100% !important; }
/*PDP simple*/
.product-view .box-related { width: 100%; }
.product-view .box-related ul.box-content { width: 50%; }
.product-view .box-related li.item { width: 170px; }
.product-view .box-related ul.box-content.first { margin-top: 10px; }
.product-view .box-related ul.box-content.last { clear: left; }
.product-main-info .product-name { width: 250px; }
/*PLP Recently Viewed*/

.sidebar .block-viewed .block-content li.item { float: left; width: 248px; }
/*My account*/
.opc .form-alt .input-box select { width: 460px; }
.order-page .order-date .order-info-buttons { margin-top: 10px; }
.creditcard-images { float: left; padding: 15px 0 0; }
.cms-page-view .col-main { width: 100%; }
.cms-page-view .col-main page-head h2,
.cms-page-view .col-main .page-head h3 { margin-left: 0px; }
.col2-left-layout .product-view,
.col2-right-layout .product-view { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); width: 750px; }
.col2-left-layout .product-view .product-shop,
.col2-right-layout .product-view .product-shop { float: left; width: 370px; }
.col2-left-layout .product-view .product-collateral,
.col2-right-layout .product-view .product-collateral { float: left; }
.col2-left-layout .product-view form#product_addtocart_form,
.col2-right-layout .product-view form#product_addtocart_form { width: auto; }
.col2-left-layout .product-view .box-related ul.box-content li,
.col2-right-layout .product-view .box-related ul.box-content li { width: 165px; }
.col2-left-layout .product-view .box-up-sell .products-grid li,
.col2-right-layout .product-view .box-up-sell .products-grid li { margin: 0 5px; }
.col2-left-layout .product-view .box-related ul.box-content,
.col2-right-layout .product-view .box-related ul.box-content { width: 50%; }
.col2-left-layout .product-view .box-related ul.box-content.first,
.col2-right-layout .product-view .box-related ul.box-content.first { margin-top: 0px; }
.catalog-product-view .col-main .product-view .box-collateral ul.products-grid { width: 100%; }
.giftcard-send-form .giftcard-message-max-length { height: 110px; width: 310px; }
.customer-my-account .form-buttons { width: 100%; }
.col-main { width: 100% }
body.contacts-index-index .col-main { width: 80%; margin: 0 auto; }
.customer-my-account .sidebar .block-account li { float: left; padding: 0 22px 0 13px; background: url(../images/blue-bullet.gif) no-repeat 0 9px; width: 42%; }
.customer-my-account .col-left { width: 100%; }
html body.category-bundled div.wrapper div.page div.main div.col-main div#bundle-product-wrapper div#bundleProduct div#productView.product-view div.box-related ul { background-color: #F6F; width: 368px; float: left; }
.category-bundled .box-related ul.box-content.last { clear: none; }
#bundle-product-wrapper { }
/* Style - Prasanth */
.push-button { display: inherit; float: left; }
.filter-container { border: 1px solid #3398cc; padding: 10px; margin-bottom: 10px; }
.filter-container .block-layered-nav .block-title { background: url(../images/madison-sprite-c.png) 100% -4px no-repeat; cursor: pointer; font-size: 13px; color: #3398cc; }
.filter-container .block-layered-nav .block-content .block-subtitle { display: none; }
.filter-container .block-layered-nav .block-content #narrow-by-list { margin: 10px 0; }
/*My account */
.sidebar .block-account .block-title { text-align: center; background: url(../images/madison-sprite-c.png) 0 -114px repeat-x #daecf5; border: 1px solid #daecf5; }
.sidebar .block-account .block-title strong { background: url(../images/madison-sprite-c.png) 60% -3px no-repeat; cursor: pointer; margin-top: 6px; }
.sidebar .block-account .block-title strong span { color: #3588b2; }
.sidebar .block-account .block-title strong.expanded { background-position: 60% -86px; cursor: pointer; }
.block-account .block-title-hello .welcome-msg .sub-title { /*display: none;*/ }
.sidebar .block-account .block-content { background-color: #f5fbfd; padding: 0 5px; box-sizing: border-box; -moz-box-sizing: border-box; /* Firefox */ }
.sidebar .block-account .block-content #jqMyAccountMenu { overflow: hidden; }
.sidebar .block-account .block-content #jqMyAccountMenu li { padding: 10px 0 10px 10px; background: none; display: block; width: 97%; border-bottom: 1px solid #ddeff6; }
.sidebar .block-account .block-content #jqMyAccountMenu li.last { border-bottom: none; }
.sidebar .block .block-content ul { color: #636363; padding: 10px 0 0; width: 100%; }
.opc-progress-container .opc-block-progress dt { font-size: 13px; }
.checkout-onepage-index .opc .step-title { visibility: hidden; }
.checkout-onepage-index .opc .active .step-title { visibility: visible; left: 0px !important; }
}
@media only screen and (max-width : 959px) and (min-width : 768px) {

.page { width: 748px; }
.wrapper { padding: 0 10px; }
.mds-main-menu .nav.hMenu li.level0.level-top > a { padding: 0px 43px; }
.mds-main-menu .nav.hMenu li.level0.level-top.first > a { padding: 0px 43px 0 0; }
.mds-main-menu .nav.hMenu li.level0.level-top.last > a { padding: 0px 0 0 43px; }
.demo-notice .notice-inner { width: 748px; }
/* Checkout Page - Renjith */
	/*.checkout-onepage-index .opc .step-title h2 {padding-left:0px; padding-right:0px;font-size:14px;}
	.checkout-onepage-index #tab_billing {left:10% !important} .checkout-onepage-index #tab_shipping {left:30.5% !important} .checkout-onepage-index #tab_shipping_method {left:52% !important}  
	.checkout-onepage-index #tab_payment {left:73% !important} .checkout-onepage-index #tab_review {left:85% !important}*/
	/* CLP Page - Renjith */
/*	.col-main{width:585px;}
	.catalog-category-view .products-grid li.item {width:188px;}*/
.catalog-category-view .col2-left-layout .col-main { width: 585px }
.catalog-category-view .col2-right-layout .products-grid li.item,
.catalog-category-view .col2-left-layout .products-grid li.item { width: 182px; margin-right: 17px; }
.catalog-category-view .col2-right-layout .products-grid li.item.last,
.catalog-category-view .col2-left-layout .products-grid li.item.last { margin-right: 0px; }
.checkout-onepage-index .form-list select { width: 91% }
}
@media only screen and (max-width : 767px) {
	
.demo-notice .notice-inner { margin: 0 auto; width: 100%; }
.wrapper { padding: 0 10px !important; }
.page { width: 100%; }
/*div.nav-container{ background: none repeat scroll 0 0 #333333;    float: left;    padding: 8px 0;    text-align: left;    width: 100%; margin: 10px 0;}
	div.nav-container #nav{ display:none;}
	div.nav-container .tinynav_label{color: #999999;	display: block;	float: left;	font-size: 11px;	line-height: 26px;	padding: 0 20px 0 8px;	text-transform: uppercase;	white-space: nowrap;	width: 10%;}
	div.nav-container .tinynav1{display: block; padding: 4px; width: 63%;  float: right; color: #000000; margin-right:8px; line-height:24px;}
	div.nav-container .tinynav1 option{margin: 0 0 0 15px;}
	*/
	
.header-panel { background: #3398cc; margin: 0 -10px; padding: 0 10px; height: auto }
.header-panel .welcome-msg { display: none; }
.header-panel .switch { padding: 0 }
.header-panel .switcher-language label { display: none }
.header-panel .switcher-language .switch-wrapper { margin: 12px 0 0 }
.header .branding { display: block; padding: 5px 0; width: 100%; }
.header .branding a.logo { margin: 0 auto; text-align: center; width: 100%; }
.header #search_mini_form { float: left; width: 100%; }
.header #search_mini_form .form-search { clear: none; float: none; margin: 0 auto; padding: 0 0 15px; }
.header #search_mini_form .form-search input.input-text { width: 250px; }
.header-panel .top-cart { padding: 0 10px 0 5px; }
.footer-container { width: 100% }
.footer-container .footer { width: 100%; padding-bottom: 30px; }
.footer-container .footer > div { min-height: 120px; }
.footer-container .footer div.company-links { margin: 0 0 20px 20px; }
.footer-container .footer div.quick-links { float: left; margin: 0 0 20px 20px; }
.footer-container .footer div.account-links { margin: 0 0 20px 20px; clear: left; }
.footer-container .footer div.social-links { float: left; margin: 0 0 0 20px; }
.footer-container .footer #newsletter-validate-detail .form-subscribe { }
.footer-container address.copyright { line-height: 14px; padding: 10px 0 0 0 }
.cms-home .home-new-products ul.products-grid { width: 90%; margin: 0 auto 10px auto; }
.cms-home .home-new-products ul.products-grid li { border: 1px solid #EFEFEF; display: inline-block; float: left; margin: 5%; padding: 5%; width: 29%; }
.cms-home .home-new-products ul.products-grid li.odd { clear: left; }
.cms-home .home-new-products ul.products-grid li.last { margin: 5%; }
.col1-layout .products-grid li.item { margin-right: 5%; width: 30%; }
.products-list .product-shop { padding: 0 }
.col3-layout .col-wrapper .col-main { float: left; width: 100%; }
.products-grid li.item { margin-right: 2.8%; width: 31%; }
.products-grid li.item.last { margin-right: 0; }
.sidebar.col-left { min-height: auto; }
.sidebar.col-left .block-layered-nav { margin: 20px 0 }
.toolbar { height: auto; line-height: normal; }
.toolbar .sorter { line-height: 25px; width: 100%; }
.toolbar .sorter .sort-by { margin: 0; }
.toolbar .sorter .view-mode { float: right; }
.toolbar .pager { clear: left; float: left; width: 100%; }
.toolbar .pager .limiter { line-height: 25px; }
.toolbar .pager .pages { }
.catblocks { margin: 0; width: 100%; }
.catblocks li { margin: 1%; padding: 0; width: 48%; }
.block.block-poll { border-bottom: none; padding-bottom: 0; }
.sidebar .block-viewed .block-content li.item { float: left; margin: 0 3% 0 0; width: 30%; }
.sidebar .block-viewed .block-content li.item p.product-image { }
.sidebar .block-viewed .block-content li.item p.product-image a { }
.sidebar .block-viewed .block-content li.item p.product-image a img { }
.product-view { width: 100%; }
.product-view form#product_addtocart_form { width: 100%; }
.product-view .product-img-box .product-image { margin: 0 auto; }
.product-view .product-shop { width: 100%; }
.product-view .product-img-box { width: 100%; margin: 0 0 20px; }
.product-view .product-img-box .notice { display: none }
.product-collateral { width: 100% !important; }
.product-collateral dl.collateral-tabs { height: auto !important; }
.product-collateral dl.collateral-tabs dt { color: #333333; cursor: auto; float: left; font-size: 12px; position: static; }
.product-collateral dl.collateral-tabs dd { display: block !important; float: left; position: relative; top: auto; }
.product-collateral dl.collateral-tabs dd .tab-content { padding: 10px 10px 10px 0; }
.cms-page-view .col-wrapper,
.cms-page-view .col-left,
.cms-page-view .col-main,
.cms-page-view .col2-set .col-2 img,
.cms-page-view .col-main .std iframe,
.contacts-index-index .form-list .input-box,
.contacts-index-index p.required,
.enterprise-giftregistry-index-edit p.required { width: 100%; }
.cms-page-view .col-main .page-head,
.col-main .page-head-alt { margin: 0 0 20px; }
.cms-page-view .col-main p { float: none !important; clear: both !important }
.contacts-index-index .fieldset,
.catalogsearch-advanced-index .fieldset { margin: 0; }
.contacts-index-index .form-buttons,
.catalogsearch-advanced-index .form-buttons { margin-left: 0; width: 100%; }
.contacts-index-index .form-list input.input-text,
.contacts-index-index .form-list textarea/*,  .catalogsearch-advanced-index .form-list input.input-text,  .catalogsearch-advanced-index .form-list textarea*/ { width: 100%; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box;    /* Firefox, other Gecko */ box-sizing: border-box; }
.catalogsearch-advanced-index .form-list .range input.input-text { width: 64px; }
.contacts-index-index .form-list textarea { height: 11em; }
.customer-account-login .account-login .new-users { margin-right: 3%; width: 49%; padding-left: 0; }
.customer-account-login .account-login .registered-users { width: 45%; }
.customer-account-login .form-list .validation-advice { width: 100%; }
.customer-account-login .account-login .form-list,
.customer-account-create .form-list .input-box { width: 100%; }
.customer-account-login .form-list input.input-text,
.customer-account-create .form-list input.input-text { width: 70%; }
.customer-account-login .form-list div.validation-error,
.customer-account-login .form-list div.input-box { background-position: 79% 2px; width: 100%; padding-right: 0 }
.customer-account-create .form-buttons,
.customer-account-forgotpassword .form-buttons { width: auto; }
.customer-account-create .form-list select { width: 71%; }
.customer-account-create .form-list div.validation-error { background-position: 75% 2px; width: 100%; padding-right: 0 }
.enterprise-giftregistry-search-index .col3-set .col-1,
.enterprise-giftregistry-search-index .col3-set .col-2 { width: 49%; }
.enterprise-giftregistry-search-index .col3-set .col-3 { width: 100%; }
.cms-page-view .col-main { width: 100%; }
.cms-page-view .col-left { position: absolute; top: 0; margin-right: 0; left: 0; width: 100% }
.cms-page-view .col-left .cms-menu { width: 100%; border-top: 1px solid #E2E2E2; border-bottom: 1px solid #E2E2E2; padding: 10px 0 }
.cms-page-view .cms-menu .parent ol { padding-top: 2px; border-top: 0; }
.cms-page-view .cms-menu .parent li { float: left; padding-right: 10px }
.cms-page-view .cms-menu .parent li strong,
.cms-page-view .cms-menu .parent a { padding-bottom: 0; }
.cms-page-view .sidebar.col-left { min-height: 100px; }
/*.checkout-cart-index .cart-table { display:none; }*/
.checkout-cart-index .cart .shipping #co-shipping-method-form { width: 90%; padding: 5%; }
.checkout-cart-index .crosssell .product-image-block button.btn-cart span span,
.checkout-cart-index .crosssell .product-image-block button.btn-cart:hover span span { padding: 0 4px; background: none; }
.checkout-cart-index .cart .shipping ul.form-list li select { height: 28px }
.checkout-cart-index .form-list .shipping-postcode .validation-advice { width: 92px; margin-right: 0 }
.checkout-cart-index .form-list .shipping-region .validation-advice { width: 164px; }
.checkout-cart-index .cart-table tr { float: left; border-bottom: 2px solid #D8D8D8; width: 100% }
.checkout-cart-index .cart-table td { display: block; text-align: left !important; float: left; width: 100%; padding: 12px 0 /*padding-left:40% !important; position:relative*/ }
/*.checkout-cart-index .cart-table td:before { font-weight: bold;left: 6px; padding-right: 10px; position: absolute; text-align: left; top: 15px; white-space: nowrap; width: 45%;content:attr(data-mds-label); font-size:12px; padding-right:10px }*/
.checkout-cart-index .cart-table thead,
.checkout-cart-index .cart-table td.price-block,
.checkout-cart-index .cart-table td.total-block,
.checkout-cart-index .cart-table td.product-img-block { display: none; }
.checkout-cart-index .cart-table .show-hide-block { display: block; }
.checkout-cart-index .cart-table span.show-hide-block { display: inline; }
.checkout-cart-index .cart-table .product-image-container,
.checkout-cart-index .cart-table .quantity-block { width: 20%; float: left; padding-right: 5% }
.checkout-cart-index .cart-table .product-details-block,
.checkout-cart-index .cart-table .total-tax-contaner { width: 75%; float: left; }
.checkout-cart-index .cart-table .product-image-container img { width: 100%; height: auto; max-width: 118px }
.checkout-cart-index .cart-table tbody td dl.item-options dt { padding: 3px 0; }
.customer-account-resetpassword .form-list .input-box,
.customer-account-resetpassword .form-buttons,
.customer-account-resetpassword p.required,
.customer-account-resetpassword .validation-error { width: 100%; padding-right: 0; }
.customer-account-resetpassword .form-list .input-box { background-position: 53% 2px }
.customer-account-resetpassword .form-list input.input-text { width: 50%; }
.customer-my-account .col2-left-layout .col-main,
.customer-my-account .col-left { width: 100%; }
/*My account*/


.sales-billing-agreement-index .billing-agreements .form-list li button.button { margin-left: 0; }
.sales-billing-agreement-index .form-list select { margin: 0 10px 10px 0 }
.customer-account-index .data-table td,
.customer-account-index .data-table tr,
.sales-order-history .data-table td,
.sales-order-history .data-table tr { display: block; float: left; width: 100%; padding: 5px 0 }
.customer-account-index .data-table tr.last td,
.sales-order-history .data-table tr.last td { padding: 5px 0 }
.customer-account-index .data-table tr,
.sales-order-history .data-table tr { border-top: 1px solid #D8D8D8 }
.customer-account-index .data-table colgroup,
.customer-account-index .data-table thead,
.customer-account-index .data-table td.order-date-block,
.customer-account-index .data-table td.total-block,
.customer-account-index .data-table td.view-reorder-block,
.sales-order-history .data-table colgroup,
.sales-order-history .data-table thead,
.sales-order-history .data-table td.order-date-block,
.sales-order-history .data-table td.total-block,
.sales-order-history .data-table td.view-reorder-block { display: none; }
.sales-order-history .show-hide-block,
.sales-order-history .order-number,
.sales-order-history .ship-to,
.sales-order-history .status,
.sales-order-history .show-hide-block,
.sales-order-history .order-number,
.sales-order-history .ship-to,
.sales-order-history .status { display: block; width: 50%; float: left }
.customer-account-index .label-show-hide-block,
.sales-order-history .label-show-hide-block { display: inline; font-weight: bold }
/* Category Landing Page - Renjith */
.catalog-category-view .col2-left-layout .col-main { width: 100% }
/*.catalog-category-view .col2-right-layout .products-grid li.item, .catalog-category-view .col2-left-layout .products-grid li.item { margin-right: 2.8%; width: 31%; }*/
.catalog-category-view .col2-right-layout .products-grid li.item.last,
.catalog-category-view .col2-left-layout .products-grid li.item.last { margin-right: 0px; }
/*PDP*/
.col1-layout .products-grid li.item { margin-right: 5%; width: 29%; }
.product-view .box-related li.item { float: left; width: 48%; }
.box-collateral { float: left; width: 620px; }
.product-view .box-related { background-color: #A4A8FE; width: 620px; }
.product-view .box-related ul.box-content { width: 620px; }
.product-view .box-related .list-container ul { width: 150px; }
.product-view .box-related ul { width: 620px; }
.product-view .box-related li span.jqTransformCheckboxWrapper { margin: 6px 0 0 140px; }
/*My account*/
.opc .form-alt .input-box select { width: 90%; }
.checkout-onepage-index .form-list select { padding: 6px; width: 91%; }
.opc .form-alt .input-box select { width: 91%; }
.order-page .order-date .order-info-buttons { margin-top: 0px; }
/*catalog advanced search*/

.catalogsearch-advanced-index .form-list .input-box { width: 68%; }
.catalogsearch-advanced-index .form-list select { width: 100%; }
.col2-left-layout .product-view .product-shop,
.col2-right-layout .product-view .product-shop { width: 620px; }
.col2-left-layout .product-view .box-related,
.col2-right-layout .product-view .box-related { width: 620px; }
.col2-left-layout .product-view .box-related ul.box-content li,
.col2-right-layout .product-view .box-related ul.box-content li { width: 46% !important; }
.checkout-onepage-index #checkout-step-login .col2-set .col-1,
.checkout-onepage-index #checkout-step-login .col2-set .col-2 { width: 100%; padding-left: 0px; border-left: 0px; border-top: 1px solid #D8D8D8; padding-top: 20px; }
/*My account */
.sidebar .block-account .block-title strong { background: url(../images/madison-sprite-c.png) 62% -3px no-repeat; cursor: pointer; margin-top: 6px; }
.sidebar .block-account .block-title strong.expanded { background-position: 62% -86px; cursor: pointer; }
.filter-container .block-layered-nav .block-content #narrow-by-list dt { padding: 10px 0; border-bottom: 1px solid #a8cee2; background: url(../images/madison-sprite-c.png) 100% -25px no-repeat; font-size: 12px; cursor: pointer; }
.filter-container .block-layered-nav .block-content #narrow-by-list dt.expanded { background-position: 100% -55px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd { margin: 10px 0; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li a { background: url(../images/layered_nav_tick.gif) 0 -2px no-repeat; padding-left: 16px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li a.active { background-position: 0 -19px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li { margin: 5px 0; color: #50A4CF; }
.filter-container { border: 1px solid #3398cc; padding: 10px; margin-bottom: 10px; }
.filter-container .block-layered-nav .block-title { background: url(../images/madison-sprite-c.png) 100% -4px no-repeat; cursor: pointer; font-size: 13px; color: #3398cc; }
.filter-container .block-layered-nav .block-content .block-subtitle { display: none; }
.filter-container .block-layered-nav .block-content #narrow-by-list { margin: 10px 0; }
.filter-container .block-layered-nav .block-content #narrow-by-list dt { padding: 10px 0; border-bottom: 1px solid #a8cee2; background: url(../images/madison-sprite-c.png) 100% -25px no-repeat; font-size: 12px; cursor: pointer; }
.filter-container .block-layered-nav .block-content #narrow-by-list dt.expanded { background-position: 100% -55px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd { margin: 10px 0; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li a { background: url(../images/layered_nav_tick.gif) 0 -2px no-repeat; padding-left: 16px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li a.active { background-position: 0 -19px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li { margin: 5px 0; color: #50A4CF; }
}
@media only screen and (max-width : 479px) {
/* <STYLE FROM 499> */
.catblocks li { margin: 10px 0; padding: 0; width: 100%; }
.cms-page-view .main { width: 100% }
.cms-page-view .col-main { }
.cms-page-view .col-main .std table th { padding: 5px 1%; width: 48% }
.cms-page-view .col2-set .col-1,
.cms-page-view .col2-set .col-2 { width: 100%; }
.customer-account-login .account-login .new-users { margin-right: 0px; width: 100%; border-right: 0; border-bottom: 1px solid #DAD9D9; padding-left: 0; height: auto }
.customer-account-login .account-login .registered-users { width: 100% }
.customer-account-login .account-login p.required { float: none; }
.customer-account-login .form-list div.validation-error,
.customer-account-login .form-list div.input-box { background-position: 75% 2px; }
.customer-account-login .popup-block { width: 90%; margin-left: 0; left: 4% }
.customer-account-forgotpassword .form-list div.validation-error { background-position: 77% 2px; }
.customer-account-create .fieldset,
.customer-account-forgotpassword .fieldset/*, .contacts-index-index .fieldset*/ { margin-left: 0; }
.customer-account-forgotpassword .form-buttons/*, .customer-account-create .form-buttons*/ { width: 100%; margin-left: 0 }
.customer-account-forgotpassword .form-list input.input-text { width: 70%; }
.customer-account-create .form-list div.validation-error { background-position: 77% 2px; }
.customer-account-create .form-list .validation-advice { width: 71%; }
.customer-account-create .form-list .customer-dob .dob-year input.input-text { width: 90px; }
.customer-account-create .form-list .customer-dob .dob-day input.input-text,
.customer-account-create .form-list .customer-dob .dob-month input.input-text { width: 45px; }
.catalogsearch-advanced-index .form-list input.input-text,
.catalogsearch-advanced-index .form-list textarea,
.catalogsearch-advanced-index .form-list select { width: 80%; }
.sales-guest-form .form-alt li { width: 100%; float: left; padding-bottom: 11px; }
.sales-guest-form .form-alt li .input-box { width: 100% !important; padding-bottom: 0 }
.sales-guest-form .form-alt li .input-box input,
.sales-guest-form .form-alt li .input-box textarea { width: 98% !important; }
.sales-guest-form .form-alt li .input-box select { width: 99% !important; }
.enterprise-giftregistry-search-index .col3-set .col-1,
.enterprise-giftregistry-search-index .col3-set .col-2,
.enterprise-giftregistry-search-index .col3-set .col-3 { width: 100%; }
.cms-page-view .cms-menu .parent ol { padding-left: 0; width: 100%; padding-top: 8px }
.cms-page-view .cms-menu .parent li { float: left; padding: 0 0 5px 15px; float: left; width: 90%; background: url(../images/blue-bullet.gif) no-repeat 0 4px }
.cms-page-view .cms-menu .parent li a { float: none; }
.cms-page-view .col-main .page-head,
.col-main .page-head-alt { margin-bottom: 7px; }
.checkout-cart-index .cart .discount h2,
.checkout-cart-index .cart .giftcard h2 { width: 100%; padding-right: 0; float: none }
.checkout-cart-index .cart .discount .button2,
.checkout-cart-index .cart .giftcard .button2 { width: 100px; text-align: left }
.checkout-cart-index .cart .giftcard button.check-gc-status { width: 100%; text-align: left }
.checkout-cart-index .cart .cross-inside,
.checkout-cart-index .cart .crosssell { width: 100%; }
.checkout-cart-index .cart .crosssell .item { width: 46%; margin: 0 2% 20px }
.checkout-cart-index .cart .crosssell .item img { width: 100%; height: auto }
.checkout-cart-index .cart .shipping #co-shipping-method-form { width: 94%; padding: 3%; }
.checkout-cart-index .sp-methods dd li label { padding-right: 0; }
.checkout-cart-index .cart .crosssell .product-image { text-align: center; }
.checkout-cart-index .crosssell .product-image-block button.btn-cart span span,
.checkout-cart-index .crosssell .product-image-block button.btn-cart:hover span span { padding: 0 2px; font-size: 9px }
.checkout-cart-index .cart-table tbody td dl.item-options dt { width: 100% }
.customer-account-resetpassword .form-list .input-box { background-position: 54% 2px }
.customer-account-resetpassword .form-list input.input-text { width: 70%; }
.customer-account-edit .form-list .input-box,
.customer-address-form .form-list .input-box,
.enterprise-giftregistry-index-edit .form-list .input-box { width: 100%; padding-right: 0 }
.customer-account-edit .form-list input.input-text,
.customer-account-edit .form-list select,
.customer-address-form .form-list input.input-text,
.customer-address-form .form-list select { width: 90%; }
.customer-account-edit .form-list .customer-dob .dob-year input.input-text { width: 90px; }
.customer-account-edit .form-list .customer-dob .dob-day input.input-text,
.customer-account-edit .form-list .customer-dob .dob-month input.input-text { width: 70px; }
.customer-account-edit .input-box,
.customer-address-form .input-box { background-position: 98% 2px; }
.customer-account-edit .customer-dob { background-position: 270px 2px; }
.customer-address-index .col2-set .col-1,
.customer-address-index .col2-set .col-2,
.customer-account-index .col2-set .col-1,
.customer-account-index .col2-set .col-2 { width: 100%; padding-bottom: 15px }
.customer-account-index .info-box .box-title { margin-top: 0; }
.sales-billing-agreement-index .form-list select { width: 100%; }
.review-customer-index #my-reviews-table tr,
.tag-customer-view #my-tags-table tr { border-top: 1px solid #D8D8D8; width: 100%; display: block; float: left }
.review-customer-index #my-reviews-table td,
.tag-customer-view #my-tags-table td { display: block; width: 100%; float: left; padding-left: 0; padding-right: 0 }
.review-customer-index #my-reviews-table colgroup { display: none; }
.review-customer-view .product-review .details,
.review-customer-view .product-review .product-img-box img { width: 100% }
.review-customer-view .product-review .product-img-box { padding-bottom: 10px; float: none; }
.review-customer-view .page-title h1,
.review-customer-view .page-title h2 { text-align: left; }
.product-review .product-img-box .product-image { margin-bottom: 0; }
.tag-customer-view #my-tags-table td { text-align: left; }
.tag-customer-view .product-image-container { float: left; width: 27% }
.tag-customer-view .product-image-container img { width: 100%; max-width: 100px; height: auto }
.tag-customer-view .show-hide-block { display: block; float: left; width: 36%; padding-top: 10px }
.tag-customer-view #my-tags-table td.product-details-block,
.tag-customer-view #my-tags-table td.cart-button-set { display: none; }
.enterprise-giftcardaccount-customer-index .page-title h1 { text-align: left; }
.enterprise-giftcardaccount-customer-index .buttons-set a.button,
.enterprise-giftcardaccount-customer-index .buttons-set button.button { margin: 0 5px 10px 0; }
.enterprise-giftcardaccount-customer-index .input-box { width: 100%; padding-right: 0 }
.enterprise-giftcardaccount-customer-index .form-list input.input-text { width: 90%; }
.enterprise-giftcardaccount-customer-index .form-list .validation-advice { width: 100%; margin-right: 0; }
.enterprise-giftcardaccount-customer-index .giftcardaccount .btn-only { width: 90%; }
.enterprise-giftregistry-index-addselect .form-list .input-box { width: 100%; padding-right: 0 }
.enterprise-giftregistry-index-addselect .form-list select,
body.enterprise-giftregistry-index-edit .my-account ul.form-list li select { width: 94%; }
body.enterprise-giftregistry-index-edit .my-account ul.form-list li input,
body.enterprise-giftregistry-index-edit .my-account ul.form-list li textarea { width: 93%; }
body.enterprise-giftregistry-index-edit .my-account ul.form-list li input.datetime-picker { width: 84%; margin-right: 7px }
.enterprise-giftregistry-index-index .data-table tr { border-top: 1px solid #D8D8D8; width: 100%; float: left }
.enterprise-giftregistry-index-index .data-table td { display: block; }
.enterprise-giftregistry-index-index .data-table td.created-date,
.enterprise-giftregistry-index-index .data-table colgroup,
.enterprise-giftregistry-index-index .data-table thead { display: none; }
.enterprise-giftregistry-index-index .data-table .show-hide-block { display: inline; }
.enterprise-giftregistry-index-share .form-list .input-box { width: 100%; padding-right: 0 }
.enterprise-giftregistry-index-share .form-list input.input-text,
.enterprise-giftregistry-index-share .form-list textarea { width: 93%; }
.enterprise-giftregistry-index-share .buttons-set a.button,
.enterprise-giftregistry-index-share .buttons-set button.button { margin-left: 5px; }
.enterprise-giftregistry-index-share button.button span span,
.enterprise-giftregistry-index-share a.button span { padding: 0 8px; }
.enterprise-giftregistry-index-share .form-buttons p.back-link { float: none; text-align: left }
.sales-order-view .data-table tr,
.sales-order-view .data-table tbody td,
.sales-order-view .data-table tbody tr.last td { display: block; padding: 5px 12px }
.sales-order-view .data-table thead,
.sales-order-view .data-table colgroup,
.sales-order-view .data-table tr td .sub-total-block { display: none; }
.sales-order-view .data-table tbody tr td.align-left { text-align: left !important; }
.sales-order-view .data-table .price-excl-tax .price,
.sales-order-view .data-table span,
.sales-order-view .data-table span.show-hide-label { display: inline; }
.sales-order-view .data-table tfoot td { width: 83%; }
/* </STYLE FROM 499> */
.category-title { position: relative; }
.category-title .rss-feed { left: 0; padding: 0; position: absolute; top: 35px; }
.page { min-width: 300px }
.demo-notice { height: auto; float: left; padding: 0 10px 10px; }
.demo-notice .notice-inner p { width: 100%; }
.demo-notice ul.social-media-links { clear: left; float: left; margin: 0; }
.cms-home ul.home-thumbs { list-style: none outside none; padding: 0; width: 300px; float: none; margin: 10px auto; overflow: hidden; }
.cms-home ul.home-thumbs li { display: block; float: left; margin: 0 0 10px; width: 100%; }
.cms-home ul.home-thumbs li.last { margin: 0; }
.checkout-cart-index .cart .checkout-types { float: left; }
.checkout-cart-index .cart .crosssell .item { width: 100%; margin: 0 0 20px }
.checkout-cart-index .cart .crosssell ul li .product-image-block,
.checkout-cart-index .cart .crosssell .product-image,
.checkout-cart-index .cart .crosssell .product-shop { width: 100%; }
.checkout-cart-index .cart .crosssell .item { height: auto }
.checkout-cart-index .cart .crosssell .product-shop { padding: 10px 0 0; }
.checkout-cart-index .cart .crosssell .item { margin: 0 5% 5%; padding: 5%; width: 80%; }
.checkout-cart-index .cart .crosssell .item a.product-image { width: 99%; border: 1px solid #efefef }
.checkout-cart-index .crosssell .product-image-block button.btn-cart span span,
.checkout-cart-index .crosssell .product-image-block button.btn-cart:hover span span { padding: 0 10px 0 24px; background: url(../images/madison-sprite-a.png) no-repeat scroll -2px -222px #50A4CF; }
.customer-account-login .form-list div.validation-error,
.customer-account-login .form-list div.input-box { background-position: 78% 2px; }
.customer-account-resetpassword .form-list .input-box { background-position: 54% 2px }
.tag-customer-view .show-hide-block { width: 73%; text-align: left !important; }
.enterprise-giftcardaccount-customer-index .buttons-set a.button,
.enterprise-giftcardaccount-customer-index .buttons-set button.button { float: left; }
.enterprise-giftregistry-index-share .form-list input.input-text,
.enterprise-giftregistry-index-share .form-list textarea { width: 93%; }
/*PLP*/
.products-grid { margin: 0 auto !important; width: 90%; }
.products-grid li.item { margin: 10px 0; margin: 0; width: 100%; }
/* Checkout Page - Renjith */
.checkout-onepage-index .opc-progress-container { display: none }
.checkout-onepage-index .opc li.section { width: 100% }
/* Category Landing Page - Renjith */
.catalogsearch-advanced-index .form-list input.input-text,
.catalogsearch-advanced-index .form-list textarea,
.catalogsearch-advanced-index .form-list select { width: 97%; }
.form-subscribe .v-fix .validation-advice { width: 262px; }
.box-collateral { float: left; width: 460px !important; }
.product-view .box-related { background-color: #A4A8FE; width: 460px; }
.product-view .box-related ul.box-content { width: 100%; }
.product-view .box-related li span.jqTransformCheckboxWrapper { margin: 6px 0 0 100px; }
.checkout-onepage-index #checkout-step-login .col2-set .col-1,
.checkout-onepage-index #checkout-step-login .col2-set .col-2 { padding-left: 0px; border-left: 0px; }
.checkout-onepage-index .opc .step { margin-top: 70px; }
/*PDP*/
.box-collateral { width: 300px !important; }
.product-view .box-related { background-color: #A4A8FE; width: 300px; }
.product-view .box-related ul.box-content { width: 300px; }
.product-view .box-related li span.jqTransformCheckboxWrapper { margin: 6px 0 0 145px; }
.product-view .product-img-box .product-image {/*height: auto !important;*/ text-align: center; width: 100% !important; }
.product-view .product-img-box .product-image img { width: 100%; height: auto; max-width: 370px; }
.product-view .product-shop .price-box { float: left; position: relative; width: auto; }
.product-view .add-to-box { clear: left; float: left; }
.product-view .add-to-cart .add-to-cart-buttons { width: 100% }
.product-view .add-to-cart .add-to-cart-buttons button { display: inline; float: left; }
.product-view .add-to-cart .add-to-cart-buttons div { clear: left; float: left; }
.product-view .add-to-cart .add-to-cart-buttons div p.paypal-logo { }
.product-view .add-to-cart .add-to-cart-buttons div p.paypal-logo span.paypal-or { margin: 10px 0; text-align: center; width: 150px; }
.product-view .add-to-cart .add-to-cart-buttons div p.paypal-logo a { clear: left; }
.product-view .box-mini-reviews .box-title .add-new { position: relative; }
.box-reviews div.form-buttons { width: 100%; }
.box-reviews .write-review .review-summary-table { }
.box-reviews .write-review .review-summary-table th .rating-box { display: none; }
.box-reviews .write-review .review-summary-table th .rating-text { display: block }
.product-view .box-reviews #review-form { width: 100% }
.product-view .box-reviews .form-list .input-box { width: 95%; }
.product-view .box-reviews .write-review textarea { width: 100%; }
.product-view .box-reviews .write-review .inline-tf div.input-box .input-text { width: 100%; }
.box-reviews div.form-buttons button { float: left; }
.product-view .box-tags .form-add-tags input.input-text { width: 150px; }
/*My account*//*My account*/
.customer-my-account .sidebar .block .block-content { width: 100%; }
.order-page .order-date .order-info-buttons { margin-top: 10px; }
#checkout-step-payment #payment-tool-tip.tool-tip .tool-tip-content img { width: 100%; }
.wishlist-index-index .popup-block .block-content .form-buttons { padding-left: 0px; }
.wishlist-index-index .popup-block .block-content .form-buttons .btn-save { margin: 0px; }
.catblocks { margin: 0px 0px 0px -4%; }
.catblocks li { margin: 10px 0 10px 4%; padding: 0; width: 46%; }
.customer-my-account .sidebar .block-account li { width: 265px; }
.wishlist-index-index .popup-block { margin: -85px 0 0 -144px; }
/*Sitemap*/
.catalog-seo-sitemap-product .pager { }
.catalog-seo-sitemap-product .pager .amount { }
.catalog-seo-sitemap-product .pager .pages { text-align: left; width: 120px; }
.giftcard-send-form .giftcard-message-max-length { height: 110px; width: 270px; }
.catblocks { margin: 0px; }
.catblocks li { margin: 10px 0 10px 0px; padding: 0; width: 100%; }
/*Styles - Prasanth */
.cms-home .filter-container,
.catalog-product-view .filter-container,
.checkout-cart-index .filter-container,
.customer-my-account .filter-container { display: none; }
.demo-notice .notice-inner p { width: 85%; float: right; }
.push-button { display: inherit; float: left; }
.filter-container { border: 1px solid #3398cc; padding: 10px; margin-bottom: 10px; }
.filter-container .block-layered-nav .block-title { background: url(../images/madison-sprite-c.png) 100% -4px no-repeat; cursor: pointer; font-size: 13px; color: #3398cc; }
.filter-container .block-layered-nav .block-content .block-subtitle { display: none; }
.filter-container .block-layered-nav .block-content #narrow-by-list { margin: 10px 0; }
.filter-container .block-layered-nav .block-content #narrow-by-list dt { padding: 10px 0; border-bottom: 1px solid #a8cee2; background: url(../images/madison-sprite-c.png) 100% -25px no-repeat; font-size: 12px; cursor: pointer; }
.filter-container .block-layered-nav .block-content #narrow-by-list dt.expanded { background-position: 100% -55px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd { margin: 10px 0; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li a { background: url(../images/layered_nav_tick.gif) 0 -2px no-repeat; padding-left: 16px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li a.active { background-position: 0 -19px; }
.filter-container .block-layered-nav .block-content #narrow-by-list dd .corra_json_filter_parent li { margin: 5px 0; color: #50A4CF; }
.breadcrumbs { display: none; }
/*My account */
.sidebar .block-account .block-title strong { background: url(../images/madison-sprite-c.png) 77% -3px no-repeat; cursor: pointer; margin-top: 6px; }
.sidebar .block-account .block-title strong.expanded { background-position: 77% -86px; cursor: pointer; }
body.contacts-index-index .col-main { width: 96%; }
}
