/*##############################################################################


                                SHADOWS


##############################################################################*/

$default-box-shadow-color: color(black);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 1px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;


/*##############################################################################


                              HIGHLIGHTS


##############################################################################*/

$highlight-bg-color: color(yellow);
$highlight-font-color: color(black) ;

//Miscellaneous Config
$highlight-config: null;


/*##############################################################################


                              UNDERLINES


##############################################################################*/

$underline-padding: 0 ;
$underline-color: color(black) ;
$underline-width: 1px ;
$underline-style: solid ;

//Miscellaneous Config
$underline-config: null;