/*------------------------------------------------------------------------------ 

                                GRADIENTS

------------------------------------------------------------------------------*/

//Used in: cart button, table-header
%white-gray-gradient{@include background-image(linear-gradient(white, #e9e9e9))}

//Used in: Global Nav
%global-nav-gradient {@include background-image(linear-gradient(#F2F2F2 50%, #DEDEDE 55%)); }

//Used in: Cart "Proceed to Checkout" Button, PDP "ADD TO CART" button
%golden-orange-gradient{@include background-image(linear-gradient(#ef5f00 32%, #D33911 63%));}

//Used in: Shopping cart, Sidebar Widgets
%widget-gradient{@include background-image(linear-gradient(white 0%, #f5f5f5 36%));}

//Used in: PDP Product Tag Header
%product-tag-header-gradient{@include background-image(linear-gradient(#f8f8f8 50%, #e7e7e7 50%));}

//Used in: Mouse Hover for Global Nav buttons
%global-nav-hover-gradient{@include background-image(linear-gradient(#797979,#FFFFFF));}
//@include bg-gradient($color-config: color-stops(white,black),$alias-class: test-gradient);

//Used in: Onepage Checkout Header
%onepage-checkout-orange-gradient{@include background-image(linear-gradient(#df6d4f 60%,#d12c01 60%));}

/*------------------------------------------------------------------------------ 

                                 COLOR SCHEMES

------------------------------------------------------------------------------*/
%orange-font-white-gradient{
    @include use-style(white-gray-gradient);
    color: color(orange);
    //padding: 0 14px;
    //@include height(21px);
}

%white-font-orange-gradient{
    @include use-style(golden-orange-gradient);
    @include use-style(round-15px);
    color: color(white);
}
/*------------------------------------------------------------------------------ 

                                 TYPOGRAPHY

------------------------------------------------------------------------------*/
//No Styles

/*------------------------------------------------------------------------------ 

                             BORDER RADI

------------------------------------------------------------------------------*/

//Used in: CLP Breadcrumb
%round-4px-top{@include border-radius(4px 4px 0 0);}

//Used in: PDP Tabs
%round-6px-top{@include border-radius(6px 6px 0 0);}

%round-4px{@include border-radius(4px);}
%round-15px{@include border-radius(15px);}


/*------------------------------------------------------------------------------ 

                                BORDER STYLES

------------------------------------------------------------------------------*/

//NO STYLES

/*------------------------------------------------------------------------------ 

                                SHADOW STYLES

------------------------------------------------------------------------------*/

%inset-shadow-light{@include box-shadow (0 1px 1px rgba(0,0,0,0.075) inset)}


/*------------------------------------------------------------------------------ 

                              HIGHLIGHT STYLES

------------------------------------------------------------------------------*/
//NO STYLES

/*------------------------------------------------------------------------------ 

                             UNDERLINE STYLES

------------------------------------------------------------------------------*/
%dark-gray-underline{
   @include underline($color: color(dark-gray));
}

