


/*##############################################################################


        
                            SEARCH RESULTS PAGE



##############################################################################*/

.catalogsearch-result-index{
    
    .search-results-page-header{
        @include use-style(page-heading);
    }
    
    .search-results-view{
        @include property(border,left right, 1px solid color(medium-gray));
    }
    
    
}