<?php
/**
 * @category    design
 * @package     corra_gallery
 * @copyright   corra
 */
?>
<?php
/**
 * Gallery 
 *
 * @see Corra_Gallery_Block_Gallery
 */


/* Home page Gallery starts here */
 $featured_slider='';
 $collection =  $this->gallerycollection(); // Gallery collection 
    if ($this->status()==1 && $collection->count()!=0) : 
        //................Gallery image slider starts here..................  ?>
           <div class='slider-full'>
                <ul class="rslides" id="fullslider">
                   <?php foreach($collection as $data):
		                    if ($data->getLink()): //add links to gallery image if link exists ?> 
 	        		  	           <li> 
                                         <?php // Gallery Image ?>
                                         <img onclick="window.location.href ='<?php echo $data->getLink();?>'" src="<?php echo Mage::getBaseUrl('media').$data->getFilename() ?>" border="0" class="pointer" alt="<?php echo $data->getTitle() ?>"/>
                                         <?php // Gallery Content ?>
               <div class="caption_container"><div class="<?php echo $data->getPosition() ?>"><?php echo $data->getPostContent() ?></div></div>
                                   </li>
				
 		                 <?php else : //gallery images without link ?>
		   
	    	                        <li> 
                                         <?php // Gallery Image ?>
                                         <img src="<?php echo Mage::getBaseUrl('media').$data->getFilename() ?>" border="0" alt="<?php echo $data->getTitle() ?>"/> 
                                         <?php // Gallery Content ?>
                                         <div class="caption_container"><div class="<?php echo $data->getPosition() ?>"><?php echo $data->getPostContent() ?></div></div>
                                   </li>
	      	 
		                 <?php  endif;  
				          
		           endforeach;	?>
		        </ul>
            </div>
     
           
	  <?php   // .............featured category slider ends here ............. 	    
   else: ?>		
		<div class='slider-full'><ul class='rslides' id='slider1' > <h2>No Images Added To slider .......</h2></div>
 <?php endif; ?>
