.input-field{
    input[type="radio"],
    input[type="checkbox"],
    .form-control-label{vertical-align: top;height: 100%; @include height(20px,$align-children:true);}
}

.form-row{
    input[type="radio"],
    input[type="checkbox"],
    input[type="text"],
    .form-control-label{vertical-align: top;height: 100%; @include height(20px,$align-children:true,$children-v-align: top);}

    .form-control-label + .text-box,.form-control-label + .text-area{margin-left: 5px;}

    @extend .row;

    margin: 5px 0;
    &.main-content,&.content,&.header{margin: 0;}

}

.textbox-input-row,.button-input-row{
    @extend .row;
}

.text-box-input,.radio-input,.check-box-input,.select-input,text-area-input{
    @include inline-block;
   
}

@mixin right-align-form($label-width:25%){


}

.form-stacked,.form-inline{
    @extend .row;
}
.form-stacked{
    .form-section{
        @extend .row;
        margin: 5px 0;
    }
    .form-section-fixed{
        @include inline-block();
        width: auto;
        vertical-align: top;
    }
}

.form-inline{
    > .form-section{
        @include inline-block();
        width: auto;
        vertical-align: top;
    }
}