/*==============================================================================

                                CONFIGURATION

===============================================================================*/

$include-stack-classes: true;
$include-pack-classes:true;

$default-packed-vertical-alignments: middle;
$default-pack-levels: 3;
$default-pack-spacing: 5px;

$default-stack-breakpoints:  $active-breakpoints;
$default-pack-breakpoints: $default-stack-breakpoints;

$default-stack-spacing: 15px;
$default-stack-levels: 2;


/*==============================================================================

                                    CORE

===============================================================================*/

@mixin pack-inline-block(){
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: auto;
    line-height: $base-line-height;



}

@mixin pack-vertical-align($vertical-align){
    @if $vertical-align{
        vertical-align: $vertical-align;
        *vertical-align: auto;
    }
}


@function create-selector($type, $attribute-value, $reference-parent: false, $child-name: '*', $attribute-wildcard: ''){

    $selector: '';
    $all-children-selector: '';

    $child-selector: $child-name;
    @if $child-name != '*'{$child-selector: '.' + $child-name;}

    @if $reference-parent{$selector: '&';}

    $selector: $selector +  '[' + $type + $attribute-wildcard + '="' + $attribute-value + '"] > ' + $child-selector;
    //$all-children-selector: '[' + $type + '-all-children' + $attribute-wildcard + '="' + $attribute-value + '"] > *';

    @return ($selector);
}

@mixin make-stack-pack-levels($type, $total-levels, $attribute-value, $spacing){
    $direct-descendant-selector-list:();

    @for $i from 1 through $total-levels{

        $selector: '';
        $direct-descendant-selector: '';

        @for $i2 from 1 through $i{
            $direct-descendant-selector: $direct-descendant-selector + '> *';
        }
        $direct-descendant-selector-list: append($direct-descendant-selector-list,$direct-descendant-selector);

        $attribute-selector: '[' + $type + ' ~="' + $attribute-value + '-level-' + $i + '"] ';
        //@debug SELECTOR $selector;
        $selector: $attribute-selector + $direct-descendant-selector;

        @if $i > 1{
            //@debug BEGIN LOOP;
            @for $i2 from 1 through ($i - 1){
                @if $i2 <= length($direct-descendant-selector-list){
                    //@debug SELECTOR $i2 nth($selector-list,$i2);
                    $selector: $selector + ', ' + $attribute-selector +  nth($direct-descendant-selector-list,$i2);

                }
            }
            //@debug END LOOP;
        }

        //@if $i == 3{@debug LENGTH length($selector-list) $selector}
        //@debug FINAL SELECTOR $selector;
        $all-level-selector: '[' + $type + ' ~="' + $attribute-value + '-level-all' + '"] *';
        #{$selector}, #{$all-level-selector}{
            @if $type == pack{
                @include pack-inline-block(); 
                vertical-align: inherit !important; 
                margin-left: $spacing;
                margin-top: 0;
                @include include(first-child){margin-left: 0;}
            }
            @else{
                display: block;
                position: relative;
                width: 100%;
                margin-top: $spacing;
                margin-left: 0;
                @include include(first-child){margin-top: 0;}
            }

        }
    }
}

@mixin make-pack ($alignments: $default-packed-vertical-alignments, $spacing: $default-pack-spacing, $wildcard: '~', $reference-parent: false, $child-name: '*', $create-spacing-only: false){





    // @debug MEDIA QUERY BREAKPOINT $media-query-breakpoint;

    @each $alignment in $alignments{
        $all-device-selector: create-selector($type: pack, $attribute-value: ( 'all-devices-' + $alignment), $reference-parent: $reference-parent, $child-name: $child-name, $attribute-wildcard: $wildcard);

        #{nth($all-device-selector,1)}, #{nth($all-device-selector,1) + ':after'}, #{nth($all-device-selector,1) + ':before'}{
            @if $create-spacing-only == false {
                @include pack-vertical-align($alignment);
                @include pack-inline-block();
            }
            margin-left: $spacing;
            margin-top: 0;
        }

        #{nth($all-device-selector,1)}{
            @include include(first-child){
                margin-left: 0;
            }
        }

        @if $create-spacing-only == false {
          @include make-stack-pack-levels($type: pack, $total-levels: $default-pack-levels, $attribute-value: 'all-devices', $spacing: $spacing);
   
        }
       
        @each $breakpoint in $default-pack-breakpoints{

            $counter: 1;



            $media-query-breakpoint: $breakpoint;
            @if $counter < length($default-pack-breakpoints){$media-query-breakpoint: $breakpoint + '-only';}
            @include breakpoint($media-query-breakpoint){


                $selector: create-selector($type: pack, $attribute-value: ($breakpoint + '-' + $alignment), $reference-parent: $reference-parent, $child-name: $child-name, $attribute-wildcard: $wildcard);


                #{nth($selector,1)}, #{nth($selector,1) + ':after'}, #{nth($selector,1) + ':before'}{

                    @if $create-spacing-only == false {@include pack-vertical-align($alignment);}
                    margin-left: $spacing;
                    margin-top: 0;
                    //background-color: red !important;
                }
                #{nth($selector,1)}{
                    @include include(first-child){
                        margin-left: 0;
                    }
                }

                @if $create-spacing-only == false {
                 @include make-stack-pack-levels($type: pack, $total-levels: $default-pack-levels, $attribute-value: $breakpoint, $spacing: $spacing);
   
                }
                
                //[pack= "\"+ $breakpoint + '-' + $alignment + "\"]{}

            }
            $counter: $counter + 1;
        }



    }

}



@if $include-pack-classes{
    /* [pack] > *{
         @include pack-inline-block();
     }*/

    @include make-pack();  
}






@mixin make-stack ( $spacing: $default-stack-spacing, $wildcard: '~', $reference-parent: false, $child-name: '*', $create-spacing-only: false   ){     



    $counter: 1;
    @each $breakpoint in $default-stack-breakpoints{

        $all-device-selector: create-selector($type: stack, $attribute-value: ( 'all-devices'), $reference-parent: $reference-parent, $child-name: $child-name, $attribute-wildcard: $wildcard);

        #{nth($all-device-selector,1)}, #{nth($all-device-selector,1) + ':after'}, #{nth($all-device-selector,1) + ':before'}{
            display: block;
            position: relative;
            width: 100%;
            margin-top: $spacing;
            margin-left: 0;
        }

        #{nth($all-device-selector,1)}{
            @include include(first-child){
                margin-top: 0;
            }
        }

        @if $create-spacing-only == false {
              @include make-stack-pack-levels($type: stack, $total-levels: $default-stack-levels, $attribute-value: 'all-devices', $spacing: $spacing);
        }
      
        $media-query-breakpoint: $breakpoint;
        @if $counter < length($default-pack-breakpoints){$media-query-breakpoint: $breakpoint + '-only';}
        //@debug BREAKPOINT $breakpoint;


        @include breakpoint($media-query-breakpoint){



            $selector: create-selector($type: stack, $attribute-value: ($breakpoint), $reference-parent: $reference-parent, $child-name: $child-name, $attribute-wildcard: $wildcard);


            #{nth($selector,1)}, #{nth($selector,1) + ':after'}, #{nth($selector,1) + ':before'}{

                @if $create-spacing-only == false { 
                    // @include make-row($include-gutter: false);
                    display: block;
                    position: relative;
                    width: 100%;

                }


                margin-top: $spacing;
                margin-left: 0; 


                //background-color: green !important;
            }
            #{nth($selector,1)}{
                @include include(first-child){
                    margin-top: 0;
                }
            }

            @if $create-spacing-only == false{
                @include make-stack-pack-levels($type: stack, $total-levels: $default-stack-levels, $attribute-value: $breakpoint, $spacing: $spacing);
 
            } 
           

        }

        $counter: $counter + 1;

    }


    //[stack= "\"+ $breakpoint + '-' + $alignment + "\"]{}
}

@if $include-stack-classes{
    @include make-stack(); 

}