/*##############################################################################


                            TYPOGRAPGHY CONFIGURATION


##############################################################################*/

$reset-typography: true;

//Default Typefaces
$typeface-sans-serif:  "Arial,​Helvetica,​sans-serif" ;
$typeface-serif:       'Georgia, "Times New Roman", Times, serif';
$typeface-monospace:   'Monaco, Menlo, Consolas, "Courier New", monospace';

$base-typeface:        Raleway,Arial,Helvetica,sans-serif;

//Default Typeface settings
$base-font-size: 1em;
$base-font-weight: normal;
$base-line-height: 1.3;
$base-word-spacing: normal;
$base-letter-spacing: normal;

$base-font-color: color('dark-gray');

$default-vertical-align: middle;




