/*==============================================================================

                                   CONFIGURATION

==============================================================================*/
$include-image-classes: true;




/*==============================================================================

                                       CORE

==============================================================================*/

/********* NORMALIZATION *******/
    img{
        //
        // Remove border when inside `a` element in IE 8/9.
        //
            border: 0;
            margin: 0; 
            padding: 0
        
    }
    
// Keep images from scaling beyond the width of their parents.
@mixin responsive-image($display: block) {
    display: $display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}


@if $include-image-classes{


    //.responsive-image-frame{display: block; width: 100%;}
     .image,.responsive-image{@extend img;}
    .responsive-image{@include responsive-image(inline-block)}
}

