/*------------------------------------------------------------------------------ 

                                 CONFIGURATION

------------------------------------------------------------------------------*/



/****** LABELS ******/
$include-label-classes: true;

$default-label-config: 
font (family $typeface-sans-serif, size 12px),
color color(dark-gray);

$label-required-symbol-config:color color(alert),font-weight bold, margin-right 2px;


/****** FORM LABELS ******/
$include-form-label-classes: true;

$default-form-label-config: $default-label-config;


/****** FORM CONTROL LABELS ******/
$include-form-control-label-classes:true;

$default-form-control-label-config:
color color(dark-gray),
font-weight 700,
font-size 12px;

/*------------------------------------------------------------------------------ 

                                   CORE

------------------------------------------------------------------------------*/

%label-base-styles{
    background-color: color(transparent);
}

@if $include-label-classes or $include-form-label-classes or $include-form-control-label-classes{

    .label, .form-label,.form-control-label{
        @extend %label-base-styles;
        .required-symbol{
            @include style($label-required-symbol-config);
        }
    }
}

@if $include-label-classes{
    .label{
        @include style($default-label-config);
    }
}

@if $include-form-label-classes{
    .form-label{
        @include style($default-form-label-config);
    }
}

@if $include-form-control-label-classes{
    .form-control-label{
        @include style($default-form-control-label-config);
    }

    
}